<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row">
        <div class = "col-md-2"></div>
        <div class = "card-body col-md-12">
          <div class="card">
            <div class="card-header">
              <%= form_for @page,url:admin_page_path do |form| %>
              <div class="form-group">
                <%= form.label :title, 'Page Title' %>
                <%= form.text_field :title, value: form.object.title,class: 'form-control'%>
              </div>
              <div class="form-group ">
                <%= form.label :title, 'Body' %>
                <%= form.text_area :body, 'data-provider': :summernote %>
              </div>
                <%= form.submit 'Update' , class: 'btn btn-primary btn-block btn-flat' %>
              <% end %>
            </div>
           
            </div>
          </div>
        </div>
      </div>
  </section>
</div>

