<div class="modal fade" id="android-link" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Share Play Store URL</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag(share_android_dashboard_index_path) do %>
        <div class="modal-body">
          <div class="container">
            <div class="form-group">
              <%= telephone_field_tag "phone_no" ,nil,class: "form-control",placeholder: "Phone Number",:required => true%>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      <% end %>  
    </div>
  </div>
</div>
