<!-- banner begins -->
<% content_for(:body_attributes) do %>
  data-turbolinks="false"
<% end %>
<div class="banner-holder" id="home">
    <div class="banner-inner" style="min-height: 400px;">
        <div class="banner-heading">
         <h1>Connecting Cargo and Trucks Innovatively</h1>
         <div class="playstore-btns">
                  <div class="container">
                    <div class="row">
                    <div class="col-md-12">
                      <div class="download-btns">
                        <span> <a href="https://itunes.apple.com/pk/app/lorryz/id1451176427?mt=8&ign-mpt=uo%3D4" target="_blank"><%= image_tag 'download-lorryz-app-store.png' , alt: ""%></a> </span>
                        <span data-toggle="modal" data-target="#iphone-link">Share URL</span>
                      </div>
                      <div class="download-btns">
                        <span><a href="https://play.google.com/store/apps/details?id=com.LORRYZ" target="_blank"><%= image_tag 'download-lorryz-google-play.png' , alt: ""%></a> </span>
                        <span data-toggle="modal" data-target="#android-link">Share URL</span>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
        </div>
        
    </div>
</div>


<!-- banner ends -->
<div class="banner-form">
            
            <div class="form-visual">
                 <h3>New Shipment</h3>
                <div class="form-holder">
                  <%= form_tag(home_shipment_dashboard_index_path) do %>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-5">
                            <div class="form-row">
                              <label for="">From</label>
                              <%= text_field_tag :pickup_location,'',class: "banner-text-field google_auto_complete from-location",placeholder: "Enter a location", onFocus: call_geolocate, required: true %>
                              <%= hidden_field_tag :pickup_building_name,'' %>
                            </div>
                            <div class="form-row">
                              <label for="">Truck Type</label>
                              <div class="selectCity">
                                <%= select_tag :vehicle_type_id, options_for_select([]),{include_blank: "Specify Type of Truck Required?", required: true} %>
                              </div>


                            </div>
                      </div>
                        <div class="col-12 col-sm-6 col-md-5">
                          <div class="form-row">
                            <label for="">To</label>
                            <%= text_field_tag :drop_location,'',class: "banner-text-field google_auto_complete",placeholder: "Enter a location",onFocus: call_geolocate, required: true %>
                            <%= hidden_field_tag :drop_building_name,'' %>
                          </div>
                          <div class="form-row">
                            <label for="">No. of Trucks</label>
                            <div class="selectCity">
                              <%=select_tag :no_of_vehicles , options_for_select((1..25).to_a) , {include_blank: "Number of Trucks Required?",title: "Need to book more than 20 trucks, Contact Lorryz at sales1@lorryz.com", required: true}%>
                            </div>


                          </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-2">
                          <%= submit_tag "Let's go",class: "submit-btn gobtn"%>
                          
                        </div>
                    </div>
                  <% end %>
                </div>
                
            </div>
        </div>

<!-- why choose us section begins
<div class="success-stories-holder">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="counter">
          <span class="count">9000 +</span>
          <span>Vehicles on the road</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="counter">
          <span class="count">15000 +</span>
          <span>Skilled drivers</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="counter">
          <span class="count">1 Million</span>
          <span>Miles driven per day</span>
        </div>
      </div>
    </div>
  </div>
</div>
why choose us section ends -->

<!-- how it works begins -->
<div class="how-it-works-holder" id="how-it-works">
    <h2>How it works</h2>
    <div class="container">
        <div class="lorryz-steps-row">
            <div class="row">
                <div class="col-md-6">
                    <div class="image-holder center create-shipment">
                        <div class="circle">1</div>
                        <%= image_tag 'create-shipment-request-lorryz.png' , alt: ""%>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="lorryz-copy create-shipment">
                        <h3>Create Shipment Request</h3>
                        <p>
                          Input details like pick-up and drop-off location,
                          type of vehicle, etc. using your mobile app or through the website.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="lorryz-steps-row">
            <div class="row">
                <div class="col-md-6 order-md-2">
                    <div class="image-holder confirm-booking">
                        <div class="circle">2</div>
                        <%= image_tag 'confirm-your-booking-lorryz.png' , alt: ""%>
                    </div>
                </div>
                <div class="col-md-6 order-md-1">
                    <div class="lorryz-copy confirm-booking">
                        <h3>Confirm your booking</h3>
                        <p>Receive best rates from various pre-screened transporters with their ratings and confirm your booking.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="lorryz-steps-row">
            <div class="row">
                <div class="col-md-6">
                    <div class="image-holder visibility">
                        <div class="circle">3</div>
                        <%= image_tag 'shipment-visibility-lorryz.png' , alt: ""%>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="lorryz-copy visibility">
                        <h3>Visibility</h3>
                        <p>Track all your shipments real time and receive shipment alerts for better visibility.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="lorryz-steps-row">
            <div class="row">
                <div class="col-md-6 order-md-2">
                    <div class="image-holder delivery-notice">
                        <div class="circle">4</div>
                        <%= image_tag 'delivery-notification-lorryz.png' , alt: ""%>
                    </div>
                </div>
                <div class="col-md-6 order-md-1">
                    <div class="lorryz-copy delivery-notice">
                        <h3>Delivery Notification</h3>
                        <p>Receive delivery notification and make the payment for the shipment.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- how it works ends -->

<!-- about us section begins -->
<div class="about-us-holder clearfix" id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="about-copy">
                    <h2>About Us</h2>
                    <p>
                      An innovative online market place / digital platform through web and smart phone app that connects cargo owners and truckers to provide cost & time efficiency,  transparency and control through hassle free bookings, real-time tracking, more business generation and 2 way feedback within the entire delivery process.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about us section ends -->

<!-- our vision begins -->
<div class="our-vision-holder">
    <div class="our-vision">
        <div class="vision-row">
            <h2>Our Vision</h2>
            <p>To be the largest technology driven logistics platform in the world to provide services through revolutionary change in traditional methods of cargo booking and assets optimisation.</p>
        </div>
    </div>
    <div class="mission-holder">
        <div class="vision-row">
            <h2>Our Mission</h2>
            <p>
              By thinking ahead and foreseeing change we aim to offer an innovative online platform for land transportation globally to provide cost &time efficiency, control to customers & more business generation to transporters through effective asset optimization thereby reducing carbon footprint.
            </p>
        </div>
    </div>
</div>
<div class="lorryz-expertise-holder">
    <div class="vision-row">
        <h2>Expertise</h2>
        <p>Management of team Lorryz possesses vast experience of more than 25 years in Marine transportation, intermodal logistics, land transportation integrated with technology, project and business development in complex and high growth markets.  </p>
        <!-- <ul class="priorities">
            <li> 1. Proposed, executed and launched several multi million dollars marine and technology driven intermodal transportation projects.</li>
            <li> 2. Ability to target niche markets such as Africa and Iraq.</li>
            <li> 3. Valuable contacts with Container shipping lines, Freight Forwarders, Custom Clearing agents, Logistics companies, shipper, Consignees and cargo owner.</li>
        </ul> -->
    </div>
</div>
<div class="strategy-holder">
    <div class="strategy-inner">
        <div class="vision-row">
            <h2>Strategy</h2>
            <p>Our four strategic priorities not only explain our strategy but also defines core values with a clear guidance on the achievement of our Vision and Mission.</p>
        </div>
    </div>
</div>
<div class="support-section strategic-priorities">
    <div class="container">
        <h2>Strategic Priorities</h2>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="support-logo">
                    <span class="image-holder"><%= image_tag 'validate-learning.png' , alt: ""%></span>
                    <span>Validate Learning</span>
                    <p>Build - Measure - Learn to build a sustainable business is the core of our strategy.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="support-logo">
                    <span class="image-holder"><%= image_tag 'customer-priorites.png' , alt: ""%></span>
                    <span>Customer Priorities</span>
                    <p>Value addition and customer satisfaction.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="support-logo">
                    <span class="image-holder"><%= image_tag 'flexibility-to-change.png' , alt: ""%></span>
                    <span>Flexibility to Change</span>
                    <p>Adapt to changing technology and customer needs.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="support-logo">
                    <span class="image-holder"><%= image_tag 'sustaining-innovation.png' , alt: ""%></span>
                    <span>Sustaining Innovation</span>
                    <p>Create new sustainable sources of growth.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- our vision ends -->

<!-- suppor section begins -->
<div class="support-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="support-logo">
                    <span class="image-holder"><%= image_tag '24-hours-support-lorryz.png' , alt: ""%></span>
                    <span>24 hours support</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="support-logo">
                    <span class="image-holder"><%= image_tag 'lorryz-fast-and-reliable.png' , alt: ""%></span>
                    <span>Fast and reliable</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="support-logo">
                    <span class="image-holder"><%= image_tag 'lorryz-tracking-services.png' , alt: ""%></span>
                    <span>Tracking Service</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- suppor section ends -->

<%= render partial: "share_iphone_link" %>
<%= render partial: "share_android_link" %>