<div style="padding: 15px">
  <p>Hello Admin,</p>
  <p>
    A user has left info on the website. Please contact to know further.
    <br>
    The info is: <br>
    Name: <%= @customer[:name] %> <br>
    Email: <%= @customer[:email] %> <br>
    Contact number: <%= @customer[:phone_no] %><br>
    Message: <%= @customer[:message] %>
  </p>
</div>