<div class="content-wrapper">
  <%= form_for @vehicle, url: fleet_vehicle_path(@vehicle.id)  do |f|%>
      <%= render partial: "form_fields" , locals: {f: f , action: "Edit", submit_button_text: "Update Vehicle"}%>
  <%end%>

</div>