<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
          <div class="card">
            <div class="balance-header">
              <h1 >Vehicles Listing</h1>
            </div>

            <div class="card-body">


              <div class="search">
                <%= form_for "", url:fleet_vehicles_path, method: :get do |f|%>
                <div class="row">
                  <div class="col-3">
                   <%= f.label :state %>
                   <%= f.select :state, [["Available","available"],["Not Available","not-available"], ["Booked","booked"]], {include_blank: true, :selected => params[:state] }, {:class => "form-control"} %>
                  </div>
                  <div class="col-3 pad-2">
                    <%= f.label :not_available_from, "From" %>
                    <%= f.text_field :not_available_from,value: params[:not_available_from] , class: "datepicker form-control input-lg" ,placeholder:  "Not Available From",autocomplete: "off"  %>
                  </div>
                  <div class="col-3 pad-2">
                    <%= f.label :not_available_to, "To" %>
                    <%= f.text_field :not_available_to ,value: params[:not_available_to], class: "datepicker form-control input-lg" ,placeholder:  "Not Available to",autocomplete: "off"  %>
                  </div>

                  <div class="col-3">
                    <%= f.submit "Search" , class: "btn btn-primary padding" %>
                  </div>
                </div>
                <% end %>
              </div>

              <table id="shipments_listing" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Vehicle Type</th>
                  <th>Vehicle No.</th>
                  <th>Driver</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <%@vehicles.each do |vehicle|%>
                    <tr>
                      <td><%= vehicle.vehicle_type.name %></td>
                      <td><%=vehicle.registration_number %></td>
                      <td><%=vehicle.driver.full_name rescue "" %></td>
                      <td>
                        <div class = "btn-group">
                          <%unless current_user.company.individual? %>
                            <%button_text = "Change Driver"
                              vehicle.driver.present? ?   nil : (button_text = "Assign Driver") %>
                            <%= link_to button_text,change_driver_fleet_vehicle_path(vehicle),remote: :true, class: "btn  btn-secondary btn-flat"  %>
                          <%end%>
                          <%= link_to "Edit",edit_fleet_vehicle_path(vehicle) , class: "btn btn-success btn-flat" %>
                          <%= link_to "Delete" ,fleet_vehicle_path(vehicle.id ),  method: :delete, format: :html,class: "btn  btn-primary btn-flat "  %>
                        </div>
                      </td>
                    </tr>
                <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
