<%= form_for @company_ratings, url: ratings_shipment_path(shipment_id:  @shipment.id) do |f|%>
    <div class="modal-dialog driver-modal">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="modal-holder" id="<%#@shipment.id%>">
            <div class="close-modal" data-dismiss="modal">
              <%= image_tag("close-modal.png")%>
            </div>
            <h1>Rate Shipment</h1>
            <div class="shipment-number">
              Shipment No. <%= @shipment.id%>
            </div>
              <div class="row custom-row">
                <div class = "col-4"></div>
                <div class = "col-8">
                  <%= f.label "select Rating" %>
                  <%= f.select :rating, options_for_select(["","1", "2", "3", "4", "5"]), :class => 'form-control' %>
                </div>
              </div>
            <div class="row custom-row">
              <div class = 'col-2'></div>
              <div class = "col-8">
                <%= f.text_area :remarks , class: "form-control input-textarea" , placeholder: "Remarks" %>
              </div>
            </div>
            <div class="buttons-holder clearfix">
                <%= f.submit "Save" , class: "submit-btn bidnow"%>
                <button class = "submit-btn cancel-btn-rating" data-dismiss = "modal">Cancel</button>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
<%end%>
<script>
    $('#company_rating_rating').barrating({
        theme: 'fontawesome-stars',
        allowEmpty: true,
        deselectable: true
    });
</script>

