<%= form_for @shipment, url: fleet_shipment_path(@shipment) do |f|%>

    <div class="modal-dialog assing-vehicles-modal">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
    <div class="assing-vehicles-modal-inner" id="<%#@shipment.id%>">
      <div class="close-modal" data-dismiss="modal">
        <%= image_tag 'close-modal.png' %>
      </div>

      <h1>
        <%=  @shipment.vehicles.present? ? "Change" : "Assign" %>
        Vehicle</h1>
      <%= hidden_field_tag "no_of_vehicles" , @shipment.no_of_vehicles %>
      <div class="shipment-number">
        Shipment No. <%= @shipment.id%>
      </div>
      <div class="address-outer">
        <!-- <div class="distance-holder">
            75 KM
          </div> -->
        <div class="address-one">
          <%=@shipment.pickup_full_address%>
        </div>
        <div class="address-two">
          <%=@shipment.drop_full_address %>
        </div>
      </div>
      <div class="pickup-date-row clearfix">
        <div class="left-col">
          <span>Pick up Date</span>
          <div class="time">
            <span><%= local_time_format @shipment.pickup_time %></span>
            <span class="date"><%=@shipment.pickup_date.strftime(display_date_format) %></span>
          </div>
        </div>
        <div class="right-col">
          <span>Loading time</span>
          <span class="hours"><%=@shipment.loading_time%> Hours</span>
        </div>
      </div>
      <div class="pickup-date-row clearfix">
<!--        <div class="left-col">-->
<!--          <span>Dropoff Date</span>-->
<!--          <div class="time">-->
<!--            <span class="date without-time hours"><%#=@shipment.expected_drop_off.strftime(display_date_format) rescue ""%></span>-->
<!--          </div>-->
<!--        </div>-->
        <div class="right-col">
          <span>Unloading time</span>
          <span class="hours"><%=@shipment.unloading_time%> Hours</span>
        </div>
      </div>
      <div class="payment-mode">
        <span>Payment Mode</span>
        <h6><%=@shipment.try(:payment_option).try(:camelcase)  %></h6>
      </div>
      <div class="truck-row">
        <%=@shipment.no_of_vehicles%> x <%=@shipment.vehicle_type.name%>
      </div>
        <div class="choose-vehicle">
          <div>
            <% @vehicles_with_drivers  = current_user.company.vehicles.select{|v| v.driver.present? } #current_book.authors.map(&:id) %>
            <%= f.label "*" , class: "label_required"%>
            <%= f.label :vehicle_ids , "Choose Vehicles" %><br>
            <%= f.collection_select :vehicle_ids , @vehicles_with_drivers , :id , :vehicle_name,{:selected => @shipment.vehicles.map(&:id)}, {class: "js-example-basic-multiple",  :multiple => true, size: 3}%>
          </div>
          <%if current_user.company.vehicles.present? and !@vehicles_with_drivers.present?  %>
            <label class="label_required"><%= "Please link/connect vehicle & driver to assign" %></label>
          <%elsif !@vehicles_with_drivers.present? %>
            <label class="label_required"><%= "You do not have any vehicle added currently." %></label>
          <%end %>
        </div>

        <div class="buttons-holder clearfix">
          <%= f.submit "Save" , class: "submit-btn"%>
          <a class="cancel-button" data-dismiss="modal">Cancel</a>
        </div>
    </div>
        </div>

      </div>
    </div>
<%end%>
<script>
  setTimeout(function () {
      $('#assign_vehicle_modal form').submit(function () {
          var no_of_vehicles = $("form #no_of_vehicles").val();
          var options = $('form #shipment_vehicle_ids > option:selected');
          if (options.length != no_of_vehicles ) {
              msg = "Please select " + no_of_vehicles + " vehicles."
              alert(msg);
              return false;
          }
      });
      $('.js-example-basic-multiple').select2({
          closeOnSelect: false,
          width: '90%',
          theme: "classic"
      });
  })
</script>