<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class = "card-body">
          <div class="card">
            <div class="balance-header">
              <h1><%= @title.try(:humanize)%> Shipments</h1>
            </div>
            <div class="card-body">
              <%= link_to "Download in Excel" , url_for(:only_path => false,format: :xlsx) , class: "btn btn-flat btn-success pull-right block-btn"%>
              <table id="shipments_listing" class="table table-bordered table-striped" >
                <thead>
                <tr>
                  <th>Shipment Number</th>
                  <%unless @completed == "active" %>
                    <th>Best Bid</th>
                  <%end %>
                  <%unless @new == "active" ||  @completed == "active" %>
                    <th>My Bid</th>
                  <%end %>
                  <th>Pickup Date</th>
                  <th>From </th>
                  <th>To </th>
                  <%if @ongoing == "active"%>
                    <th>Status</th>
                  <%#elsif @completed == "active"%>
<!--                    <th>Cancel Penalty</th>-->
                  <%end%>
                  <th>Fleet Details </th>
                  <th>Actions </th>
                </tr>
                </thead>
                <tbody>
                <% @shipments.each do |s|%>
                  <%currency = shipment_currency(s) %>
                  <tr>
                    <td>
                      <%= s.id%>

                      <% if s.try(:company).try(:featured?)%>
                            <span class="pull-right badge badge-info">Featured
                              <i class="fa fa-check-circle"></i>
                            </span>
                      <%elsif s.try(:company).try(:verified?)%>
                            <span class="pull-right badge badge-success">Verified
                                <i class="fa fa-check-circle"></i>
                              </span>
                      <%end%>
                    </td>
                    <% unless @completed == "active" %>
                      <td><%= s.bids.best_bid.present? ?  currency + " " + format_amount_to_currency(s.bids.best_bid.try(:amount)) : ""%></td>
                    <%end %>
                    <%unless @new == "active"  || @completed == "active"%>
                      <td>
                        <%my_bids = s.bids.where(company_id: current_user.company.id) rescue ""%>
                        <%= currency +" "+ format_amount_to_currency( my_bids.last.amount ) rescue "" %>
                      </td>
                    <%end %>
                    <td><%= local_time_format(s.pickup_time) rescue "" %>  <%=s.pickup_date.strftime(display_date_format) rescue ""%></td>
                    <td><%= s.pickup_full_address %></td>
                    <td><%= s.drop_full_address%></td>
                    <%#if @completed== "active"%>
<!--                      <td><%#= currency +" "+ s.cancel_penalty.to_i.to_s%></td>-->
                    <%if @ongoing == "active"%>
                        <td> <%= s.state %> </td>
                    <%end%>
                    <td><%= s.try(:no_of_vehicles).try(:to_s) + "  X  "+ s.try(:vehicle_type).try(:name) rescue "" %></td>
                    <td>
                      <div class = "-group">
                        <%= link_to "View",fleet_shipment_path(s) , class: "btn btn-success btn-flat btn-sm block-btn" %>
                        <%if ["accepted"  ,"vehicle_assigned"].include? s.state  %>
                          <% link_text = s.shipment_vehicles.present? ? "Change Vehicle" : "Assign Vehicle"%>
                          <%= link_to link_text ,assign_vehicle_fleet_shipment_path(s),remote: :true, class: "btn  btn-primary btn-flat btn-sm block-btn"  %>
                          <%#= link_to "Cancel Shipment" ,cancel_fleet_shipment_path(s.id),remote: :true, class: "btn  btn-warning btn-flat btn-sm block-btn"  %>
                          <%= link_to "Cancel Shipment" ,fleet_shipment_path(s.id , "shipment[state_event]": :cancel, "shipment[cancel_by]": current_user.role), method: :patch , data: { confirm: 'Are you sure?' } , class: "btn  btn-warning btn-flat btn-sm block-btn "  %>
                        <%elsif ["completed", "cancel"].include? s.state%>
                          <%= link_to "Download Invoice", invoice_path(id: s.id, format: :pdf),target: :_blank, class: "btn btn-warning btn-flat block-btn btn-sm" %>
                        <%elsif ["vehicle_assigned", "ongoing", "loading", "en_route", "unloading"].include? s.state%>
                        <% else %>
                          <%
                            bid_button_text =  rebid(s) ? "Bid Again" : "Bid Now"
                            # if bid_button_text == "Bid Now"
                          %>
                          <div>
                            <%= link_to bid_button_text ,new_fleet_shipment_bid_path(shipment_id: s.id ), class: "btn  btn-primary btn-flat btn-sm block-btn"  %>
                          </div>
                          <%#elsif  !s.location_id.present? and s.country.process != "prorate" %>
                            <%#= link_to bid_button_text ,new_fleet_shipment_bid_path(shipment_id: s.id ), class: "btn  btn-primary btn-flat btn-sm block-btn"  %>
                          <%#end %>
                          <%if rebid s %>
                            <div>
                              <%= link_to "Quit Bidding",quit_bid_fleet_shipment_path(s.id) , class: "btn  btn-warning btn-flat btn-sm block-btn"  %>
                            </div>
                          <%else%>
                            <div>
                              <%= button_to "Not Interested" ,not_interested_fleet_shipment_path(s) , class: "btn  btn-warning btn-flat btn-sm block-btn"  %>
                              <%#= link_to ,not_interested_fleet_shipment(s),method: :post , class: "btn  btn-warning btn-flat btn-sm"  %>
                            </div>
                          <%end%>
                        <%end%>
                      </div>
                    </td>
                  </tr>
                <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>



