<div id="map" class="bulk_geocode"></div>

<script data-turbolinks-eval="false">
    $(document).on('turbolinks:load', function () {
        console.log("896547")
        if(navigator.geolocation)
        {
            navigator.geolocation.getCurrentPosition(function(position) {
                initMapWithCenter({lat: position.coords.latitude, lng: position.coords.longitude })
            },function (err) {
                initMapWithCenter({lat: <%= @user_country_coordinates[:lat] %> , lng: <%= @user_country_coordinates[:lng] %> })
                map.setZoom(7)
            })
        }

        markers = [];
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }
        function clearMarkers() {
            setMapOnAll(null);
        }

        function deleteMarkers() {
            clearMarkers();
            markers = [];
        }
        (function poll() {


            $.ajax({
                url: "<%= get_bulk_coordinates_admin_shipments_path %>",
                type: "POST",
                success: function (data) {
                    console.log("------------------Admin Index--------polling");
                    deleteMarkers();
                    setMapOnAll(map)

                    $.each(data["coordinates"], function (index, value) {
                        var marker = new google.maps.Marker({
                            position: {lat: value.lat, lng: value.lng},
                            icon: "/truck_pin.png",
                            map: map,
                            title: 'Hello World!'
                        });
                        markers.push(marker)
                        var infowindow = new google.maps.InfoWindow({
                            content: "<div class=\"map-pin-holder\">\n" +
                                "    <h1>Shipment No. "+value.shipment.id+"</h1>\n" +
                                "    <div class=\"pin-row clearfix\">\n" +
                                "      <div class=\"fleet-col-left\">\n" +
                                "        <div class=\"truck-row\">\n" +
                                "          <span><img src=\"/dyna-truck.png\" alt=\"\" ></span>\n" +
                                "          <span>"+value.shipment.no_of_vehicles + "  X  "+ value.vehicle_type.name+"</span>\n" +
                                "        </div>\n" +
                                "        <div class=\"truck-number\">" + value.vehicle_name +
                            "           </div>\n" +
                                "      </div>\n" +
                                "      <div class=\"fleet-col-right\">\n" +
                                "          <div class=\"address-outer\">\n" +
                                "              <div class=\"address-one\">\n" +
                                "                 "+value.pickup_full_address+
                                "              </div>\n" +
                                "              <div class=\"address-two\">\n" +
                                "                  "+value.drop_full_address+
                                "              </div>\n" +
                                "          </div>\n" +
                                "    </div>\n" +
                                "    </div>\n" +
                                "  </div>"
                        });
                        marker.addListener('click', function() {
                            infowindow.open(map, marker);
                        });
                    })
                },
                dataType: "json",
                complete: setTimeout(function () {

                    if ($('.bulk_geocode').length == 1) {
                        poll()
                    }

                }, 20000),
                timeout: 2000
            })
        })();

    })

</script>