
body{

}
*{

  //border: 0px;
  margin: 0px;
  padding: 0px;
  outline: none;
}
// clearing floats //
.clearfix:after {
    content: "&nbsp;";
    font-size: 0;
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.clearfix {
    display: inline-block; }

.clearfix {
    display: block; }

* html .clearfix {
    height: 1%; }

.clear {
    clear: both; }
    // border radius //
    @mixin border-radius($radius){
        -webkit-border-radius: $radius;
        -moz-border-radius: $radius;
        border-radius: $radius;
    }
    // all transitions //
    @mixin transitions($duration) {
        -webkit-transition: all $duration; /* Safari */
        transition: all $duration;
    }
     // placeholder color //
        @mixin placeholder($color){
            &::-webkit-input-placeholder {
                color:$color;
                font-weight: 400;
            }
            &::-moz-placeholder {
                color:$color;
                font-weight: 400;
            }
            &:-ms-input-placeholder {
                color:$color;
                font-weight: 400;
            }
            &:-moz-placeholder {
                color:$color;
                font-weight: 400;
            }
        }
.ion-app.md, ion-app.ios, button{
    font-family: 'Fira Sans', sans-serif !important;
}

.fleet-card {
        -webkit-box-shadow: 3px 4px 16px rgba(0, 0, 0, .48);
        -moz-box-shadow: 3px 4px 16px rgba(0, 0, 0, .48);
        box-shadow: 3px 4px 16px rgba(0, 0, 0, .48);
        background: #fff;
        position: relative;
        padding: 20px 20px 0;
        margin: 0 0 25px;
        //max-width: 1002px;
        @include border-radius(4px);

        &:before {
            content: "";
            top: 0px;
            left: 0px;
            width: 10px;
            position: absolute;
            height: 100%;
            background: #008ec8;
            /* Old browsers */
            background: -moz-linear-gradient(top, #008ec8 0%, #018ec4 4%, #0090c4 13%, #0094bc 37%, #0093b9 37%, #0195b9 45%, #0095b6 46%, #0199ae 77%, #029ba9 85%, #009da6 98%, #039da7 98%, #009da4 99%, #009da4 99%, #029ca6 100%, #10a3aa 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #008ec8 0%, #018ec4 4%, #0090c4 13%, #0094bc 37%, #0093b9 37%, #0195b9 45%, #0095b6 46%, #0199ae 77%, #029ba9 85%, #009da6 98%, #039da7 98%, #009da4 99%, #009da4 99%, #029ca6 100%, #10a3aa 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #008ec8 0%, #018ec4 4%, #0090c4 13%, #0094bc 37%, #0093b9 37%, #0195b9 45%, #0095b6 46%, #0199ae 77%, #029ba9 85%, #009da6 98%, #039da7 98%, #009da4 99%, #009da4 99%, #029ca6 100%, #10a3aa 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#008ec8', endColorstr='#10a3aa', GradientType=0);
            /* IE6-9 */
            -webkit-border-top-left-radius: 4px;
            -webkit-border-bottom-left-radius: 4px;
            -moz-border-radius-topleft: 4px;
            -moz-border-radius-bottomleft: 4px;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        h1 {
            color: #353535;
            font-weight: 500;
            font-size: 24px;
            padding: 0 0 25px 15px;
            margin: 0px;
            display: inline-block;
        }
    }
    .fleet-row {
            padding: 0px 0 30px;
            .fleet-col-left {
                float: left;
                width: 22%;
                box-sizing: border-box;
                padding: 0 10px 0 5px;
                .bids {
                    padding: 0 0 15px;
                    span {
                        display: block;
                        font-size: 16px;
                        color: #353535;
                        font-weight: 300;
                        text-align: center;
                        padding: 0px 0px 2px;
                        span {
                          &.counter {
                            font-size: 35px;
                            display: block;
                            padding: 5px 0 15px;
                            line-height: 27px;
                          }
                        }
                        &.bid-amount {
                            font-weight: 500;
                            color: #0094b9;
                            font-size: 16px;
                            padding-bottom: 20px;
                            & span.counter {
                              font-size: 35px;
                              display: block;
                              padding: 0px 0 10px;
                              line-height: 27px;
                            }
                        }
                        &.bid-vehicle {
                            font-weight: 500;
                            color: #353535;
                            font-size: 16px;
                        }
                    }
                }
            }
            .fleet-col-right {
                float: left;
                width: 70%;
                box-sizing: border-box;
                padding: 0 5px 0 35px;
                border-left: 1px solid #7d7d7d;
                .address-outer {
                    padding: 0 0px 10px;
                    position: relative;
                }
                .distance-holder {
                    font-size: 11px;
                    color: #353535;
                    position: absolute;
                    top: 27px;
                    left: -23px;
                    webkit-transform: rotate(-90deg);
                    -moz-transform: rotate(-90deg);
                    -o-transform: rotate(-90deg);
                    -ms-transform: rotate(-90deg);
                    transform: rotate(-90deg);
                    font-weight: 500;
                }
                .address-one {
                    padding: 0 0 35px 15px;
                    margin-bottom: 5px;
                    color: #353535;
                    font-size: 16px;
                    font-weight: 400;
                    position: relative;
                    background: url(image_path("dotted-border.jpg")) 0px 0px repeat-y;
                    &:before {
                        content: "";
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        top: 0px;
                        left: -7px;
                        background: url(image_path('address-before.jpg')) 0px 0px no-repeat;
                        background-size: 16px 16px;
                    }
                }
                .address-two {
                    padding: 0 0 25px 15px;
                    color: #353535;
                    font-size: 16px;
                    font-weight: 400;
                    position: relative;
                    span {
                        display: block;
                        font-size: 14px;
                        font-weight: 400;
                    }
                    &:before {
                        content: "";
                        width: 16px;
                        height: 26px;
                        position: absolute;
                        top: -3px;
                        left: -7px;
                        background: url(image_path('location-icon.png')) 0px 0px no-repeat;
                        background-size: 16px 26px;
                    }
                }
                .truck-row {
                    padding: 0px 0 10px 38px;
                    background: url(image_path('truck.png')) 0px 4px no-repeat;
                    background-size: 35px 21px;
                    margin-left: -15px;
                    font-size: 16px;
                    font-weight: 400;
                    color: #353535;
                }
                .pickup-date {
                    font-size: 13px;
                    color: #353535;
                    font-weight: 400;
                    span {
                        font-weight: 300;
                        display: block;
                    }
                }
            }
        }
        .custom-row {
            padding-bottom: 25px;
        }
        .buttons-holder {
            padding: 0 5px;
        }
        .submit-btn {
            background: #0094b9;
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            cursor: pointer;
            padding: 7px 35px;
            display: inline-block;
            box-sizing: border-box;
            margin-right: 15px;
            width: inherit !important;
                        margin-top: 0px !important;

            &.bidnow {
                margin-bottom: 10px;
                border: 1px solid #0094b9;
                &:hover {
                    background: #019ca6;
                }
            }
            &.not-interest {
                background: white;
                border: 1px solid #707070;
                color: #707070;
            }
            &:hover {
                background: #019ca6;
                color: #fff;
                @include transitions(0.5s);
                border: 0px solid #019ca6;
            }
        }
        .details_wrap{
        	  padding: 15px 10px;
        	  .details-row {
        	    padding: 0 0 20px;
        	    .details-left {
        	      float: left;
        	      width: 25%;
        	      font-size: 16px;
        	      color: #646464;
        	      span {
        	        font-size: 16px;
        	        color: #646464;
        	      }
        	    }
        	    .details-right {
        	      float: right;
        	      width: 75%;
        	      font-size: 16px;
        	      color: #646464;
        	    }
        	  }

        	}
        	.yourbid {
        	  span {
        	    float: left;
        	    font-size: 16px;
        	    font-weight: 700;
        	    color: #353535;
        	  }
        	  .input_text {
        	    float: left;
        	    border-bottom: 1px solid #353535;
        	    display: inline-block !important;
        	    width: 70%;
        	    background: white;
        	    margin-left: 7px;
        	    .text-input {
        	      margin: 0px;
        	      padding: 0px;
        	      font-weight: 500;
        	    }
        	  }
        	}
        	.labels {
        	  font-size: 16px;
            font-weight: 500 !important;
            color: #353535;
            display: block;
            padding: 0 0 4px;
            margin: 0px;
        	}
        	.cancel-btn {
        	    position: absolute;
        	    top: 10px;
        	    right: 10px;
        	    font-size: 16px;
        	    padding: 7px 25px;
        	    cursor: pointer;
        	}
        	.edit-btn {
        	position: absolute;
                    	    top: 10px;
                    	    right: 130px;
                    	    font-size: 16px;
                    	    padding: 7px 25px;
                    	    cursor: pointer;
                    	    border-radius: none !important;
        	}
        	 .modal-holder {
                  margin: 0px 0px;
                  background: white;
                  border: 0px solid #a1a1a1;
                  border-top: none;
                  //-webkit-box-shadow: 3px 4px 16px rgba(0,0,0,.18);
                   // -moz-box-shadow: 3px 4px 16px rgba(0,0,0,.18);
                   // box-shadow: 3px 4px 16px rgba(0,0,0,.18);
                  h1 {
                    color: #0094b9;
                    font-size: 25px;
                    font-weight: 500;
                    padding: 15px 0 10px;
                    margin: 0px;
                    border-top: 10px solid #0094b9;
                    text-align: center;
                    position: relative;
                    z-index: 10;
                    pointer-events: none;
                  }
                  .shipment-number {
                    text-align: center;
                    padding: 0 0 25px;
                    font-size: 16px;
                    font-weight: 400;
                    color: #313131;
                  }
                  .address-outer {
                    max-width: 190px;
                    margin: 0 auto;
                    padding: 0 10px 15px;
                    position: relative;
                  }
                  .distance-holder {
                    font-size: 16px;
                    color: #353535;
                    position: absolute;
                    top: 32px;
                    left: -26px;
                    webkit-transform: rotate(-90deg);
                    -moz-transform: rotate(-90deg);
                    -o-transform: rotate(-90deg);
                    -ms-transform: rotate(-90deg);
                    transform: rotate(-90deg);
                    font-weight: 700;
                  }
                  .address-one {
                    padding: 0 0 25px 22px;
                    margin-bottom: 5px;
                    color: #353535;
                    font-size: 16px;
                    font-weight: 400;
                    position: relative;
                    background: url(image_path('dotted-border.jpg')) 0px 0px repeat-y;
                    span{
                      display: block;
                      font-size: 16px;
                      font-weight: 400;
                    }
                    &:before {
                      content: "";
                      width: 18px;
                      height: 18px;
                      position: absolute;
                      top: -2px;
                      left: -8px;
                      background: url(image_path('address-before.jpg')) 0px 0px no-repeat;
                      background-size: 18px 18px;
                    }
                  }
                  .address-two {
                    padding: 0 0 30px 22px;
                    color: #353535;
                    font-size: 16px;
                    font-weight: 400;
                    position: relative;
                    span{
                      display: block;
                      font-size: 16px;
                      font-weight: 400;
                    }
                    &:before {
                      content: "";
                      width: 26px;
                      height: 36px;
                      position: absolute;
                      top: -3px;
                      left: -9px;
                      background: url(image_path('location-icon.png')) 0px 0px no-repeat;
                    }
                  }
                  .truck-row {
                    padding: 0px 0 20px 70px;
                    background: url(image_path('truck.png')) 0px 0px no-repeat;
                    background-size: 60px 38px;
                    margin-left: -20px;
                    font-size: 16px;
                    font-weight: 500;
                  }
                  .bids-container {
                    background: #0593cc;
                    padding: 10px 10px 10px;
                    margin: 0 25px 10px;
                  }
                  .bids-row {
                    position: relative;
                    margin: 0 0 10px;
                    clear: both;
                    overflow: hidden;
                    div {
                      background: #0593cc;
                      display: inline-block;
                      color: #fff;
                      font-size: 16px;
                      font-weight: 400;
                      padding: 5px;
                      z-index: 999;
                      position: relative;
                      &.bid-label {
                        float: left;
                        margin: 0 0 0 -4px;
                      }
                      &.bid-amount {
                        float: right;
                        margin: 0 -4px 0 0;
                        font-weight: 400;
                      }
                    }
                    &:after {
                      content: "";
                      position: absolute;
                      bottom: 10px;
                      left: 0px;
                      width: 100%;
                      border-bottom: 2px dotted #fff;
                      z-index: 10;
                    }
                  }
                  .destination-holder {
                    padding: 0px 10px 10px;
                    margin: 0 25px 10px;
                    h4 {
                        font-size: 20px;
                        padding: 0 0 15px;
                    }
                    span.red {
                        display: block;
                        padding: 20px 0px;
                    }
                  }
                  .destination-row {
                    position: relative;
                    margin: 0 0 0px;
                    clear: both;
                    overflow: hidden;
                    div {
                      background: #fff;
                      display: inline-block;
                      color: #444545;
                      font-size: 16px;
                      font-weight: 400;
                      padding: 5px;
                      z-index: 999;
                      position: relative;
                      &.destination-label {
                        float: left;
                        margin: 10px 0 0 -4px;
                        max-width: 55%;
                      }
                      &.destination-amount {
                        float: right;
                        margin: 20px -6px 0 0;
                      }
                    }
                    &:after {
                      content: "";
                      position: absolute;
                      bottom: 17px;
                      left: 0px;
                      width: 100%;
                      border-bottom: 2px dotted #444545;
                      z-index: 10;
                    }
                  }
                  .buttons-holder {
                    padding: 0px 10px 10px;
                    margin: 0 25px 10px;
                    .cancel-button {
                      float: left;
                      background: white;
                      border: 1px solid #555555;
                      cursor: pointer;
                      padding: 8px 20px;
                      display: inline-block;
                      font-size: 16px;
                      font-weight: 400;
                      text-transform: uppercase;
                    }
                    .submit-btn {
                      float: right;
                      background: #0094b9;
                          color: #fff;
                      font-size: 16px;
                      font-weight: 400;
                      padding: 8px 20px;
                      cursor: pointer;
                      text-transform: uppercase;
                      border: 1px solid #0094b9;
                      width: inherit !important;
                                  margin-top: 0px !important;
                    }
                  }
                }
                .modal-custom-width {
                    max-width: 640px !important;
                }
                .driver-modal {
                    max-width: 450px !important;
                }
                .close-modal {
                  position: absolute;
                  top: 25px;
                  right: 17px;
                  z-index: 999;
                  cursor: pointer;
                  display: inline-block;

                  img {
                    max-width: 25px;
                  }
                }
                .modal-body {
                    padding: 0px !important;
                }
                .logo {
                    display: block;
                    text-align: center;
                    span {
                        display: block;
                        text-align: center;
                        color: #818181;
                    }
                }
                .brand-image {
                 float: none;
                 border-radius: 0px;
                 box-shadow: none;
                 opacity: 1 !important;
                 max-height: 65px !important;
                }
                .user-info-holder {
                    float: right;
                    position: absolute;
                    top: -6px;
                    right: 50px;
                    width: 160px;
                    object-fit: cover;
                    .image {
                        border-radius: 50px;
                        width: 50px;
                        height: 50px;
                        float: left;
                        position: relative;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        & .verified {
                            background: white;
                            position: absolute;
                            bottom: -8px;
                            right: -11px;
                            border: 1px solid white;
                            @include border-radius(50%);
                            i {
                                font-size: 26px;
                            }
                        }
                    }
                    .info {
                        text-align: center;
                        padding: 10px 0 0 7px;
                        display: inline-block;
                        position: absolute;
                        top: 13px;
                        right: -10px;
                        font-size: 16px;
                    }
                    .info-dropdown {
                        opacity: 0;
                        width: 200px;
                        background: white;
                        box-sizing: border-box;
                        padding: 0px;
                        @include transitions(0.5s);
                        position: absolute;
                        top: 94%;
                        left: -100%;
                    }
                    .image {
                        &:hover {
                               .info-dropdown {
                                 opacity: 1;
                               }
                    }
                    }
                   ul.navbar-nav {
                    li {
                        display: block;
                        width: 100%;
                        a.nav-link {
                            display: block;
                            position: relative;
                        }
                    }
                   }
                }
                .sidebar-dark-primary .nav-sidebar > .nav-item.menu-open > .nav-link, .sidebar-dark-primary .nav-sidebar > .nav-item:hover > .nav-link {
                    color: #818181;
                }
                .sidebar-dark-primary {
                    background: #fff;
                }
                .sidebar {
                    padding-left: 0px;
                    padding-right: 0px;
                }
                .sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active {
                    background: #EEF9FF;
                    color: #3193CD;
                    border-left: 4px solid #3BA7FA;
                    box-shadow: none !important;
                    border-radius: 0px !important;
                }
                .sidebar-dark-primary .nav-treeview > .nav-item > .nav-link {
                   color: #818181;
                }
                .sidebar-dark-primary .nav-treeview > .nav-item > .nav-link:hover {
                    background: #EEF9FF;
                    color: #3193CD;
                }
                .sidebar-dark-primary .nav-treeview > .nav-item > .nav-link.active {
                    background: #EEF9FF;
                    color: #3193CD;
                }
                [class*="sidebar-dark"] .brand-link {
                    border-bottom: 0px !important;
                    padding: 20px 10px 0px;
                }
                .card-primary:not(.card-outline) .card-header {
                   background: #3193CD;
                   color: #fff;
                }
                .btn-primary {
                   background: #3193CD;
                   color: #fff;
                }
                table {
                    #shipments_listing {
                      th {
                        background: #3193CD;
                        color: #fff;
                      }
                     }
                }
                table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
                  background: #3193CD;
                  color: #fff;
                }
                .card-header-blue{
                    h3 {
                        color: #3193CD;
                    }
                }
                .sidebar .nav-link p, .main-sidebar .brand-text, .sidebar .user-panel .info {
                   color: #818181;
                }
                .elevation-4{
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22)
                }
                .modal-truck {
                    padding: 0 0 30px;
                    span {
                        display: block;
                        padding: 0 0 5px;
                        text-align: center;
                        img {
                            max-width: 60px;
                        }
                    }
                }
                .destination-holder {
                    padding: 0 0 15px;
                    .driver-name {
                        text-align: center;
                        font-size: 16px;
                        padding:0 0 10px;
                    }
                    .driver-image {
                        text-align: center;
                        padding:0 0 35px;
                    }
                }
                .driver-label {
                    text-align: right;
                    display: block;
                }

                .fleet-card {
                            -webkit-box-shadow: 3px 4px 16px rgba(0, 0, 0, .48);
                            -moz-box-shadow: 3px 4px 16px rgba(0, 0, 0, .48);
                            box-shadow: 3px 4px 16px rgba(0, 0, 0, .48);
                            background: #fff;
                            position: relative;
                            padding: 10px 10px 10px;
                            margin: 0 0 25px;
                            &:before {
                                content: "";
                                top: 0px;
                                left: 0px;
                                width: 10px;
                                position: absolute;
                                height: 100%;
                                background: #008ec8;
                                /* Old browsers */
                                background: -moz-linear-gradient(top, #008ec8 0%, #018ec4 4%, #0090c4 13%, #0094bc 37%, #0093b9 37%, #0195b9 45%, #0095b6 46%, #0199ae 77%, #029ba9 85%, #009da6 98%, #039da7 98%, #009da4 99%, #009da4 99%, #029ca6 100%, #10a3aa 100%);
                                /* FF3.6-15 */
                                background: -webkit-linear-gradient(top, #008ec8 0%, #018ec4 4%, #0090c4 13%, #0094bc 37%, #0093b9 37%, #0195b9 45%, #0095b6 46%, #0199ae 77%, #029ba9 85%, #009da6 98%, #039da7 98%, #009da4 99%, #009da4 99%, #029ca6 100%, #10a3aa 100%);
                                /* Chrome10-25,Safari5.1-6 */
                                background: linear-gradient(to bottom, #008ec8 0%, #018ec4 4%, #0090c4 13%, #0094bc 37%, #0093b9 37%, #0195b9 45%, #0095b6 46%, #0199ae 77%, #029ba9 85%, #009da6 98%, #039da7 98%, #009da4 99%, #009da4 99%, #029ca6 100%, #10a3aa 100%);
                                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                                // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#008ec8', endColorstr='#10a3aa', GradientType=0);
                                /* IE6-9 */
                            }

                        }
                        .date-holder {
                          position: absolute;
                          top: 10px;
                          right: 10px;
                          font-size: 16px;
                          font-weight: 400;
                          text-align: center;
                          span {
                            display: block;
                            margin-bottom: 10px;
                          }
                        }
                        .status-holder {
                          font-size: 18px;
                          font-weight: 500;
                          padding: 0 0 15px 40px;
                          span {
                            padding-left: 5px;
                            &.completed {
                              color: #1daf0f;
                            }
                            &.canceled {
                              color: #c0293e;
                            }
                          }
                        }
                        .fleet-row {
                            padding: 0 0 0px 40px;
                            .fleet-col-right {
                                box-sizing: border-box;
                                padding: 0 5px 0px 20px;
                                border-left: 0px solid #7d7d7d;
                                float: left;
                                width: 70%;
                                .address-outer {
                                    padding: 0 0px 5px;
                                    position: relative;
                                }

                                .address-one {
                                    padding: 0 0 25px 15px;
                                    margin-bottom: 5px;
                                    color: #353535;
                                    font-size: 18px;
                                    font-weight: 400;
                                    position: relative;
                                    background: url(image_path('dotted-border.jpg')) 0px 0px repeat-y;
                                    &:before {
                                        content: "";
                                        width: 16px;
                                        height: 16px;
                                        position: absolute;
                                        top: 0px;
                                        left: -7px;
                                        background: url(image_path('address-before.jpg')) 0px 0px no-repeat;
                                        background-size: 16px 16px;
                                    }
                                    .enroute {
                                      padding: 15px 0 0px;
                                      span {
                                        display: block;
                                        font-size: 18px;
                                        font-weight: 400;
                                        color: #0597ce;
                                        &.destination {
                                          color: #848484;
                                          font-size: 11px;
                                        }
                                      }
                                    }
                                }

                                .address-two {
                                    padding: 0 0 10px 15px;
                                    color: #353535;
                                    font-size: 18px;
                                    font-weight: 400;
                                    position: relative;
                                    span {
                                        display: block;
                                        font-size: 18px;
                                        font-weight: 400;
                                    }
                                    &:before {
                                        content: "";
                                        width: 16px;
                                        height: 26px;
                                        position: absolute;
                                        top: -3px;
                                        left: -7px;
                                        background: url(image_path('location-icon.png')) 0px 0px no-repeat;
                                        background-size: 16px 26px;
                                    }
                                }
                            }
                        }
                        .payment-col {
                          position: absolute;
                          bottom: 15px;
                          right: 15px;
                          text-align: center;
                          span {
                            display: block;
                            font-size: 18px;
                            padding: 0 0 3px;
                            font-weight: 500;
                            &.aed {
                              color: #0090ca;
                            }
                            &.card-name {
                              color: #01a900;
                              font-weight: 700;
                            }
                            &.status {
                              color: #333333;
                              &.pending {
                                color: #b8001b;
                              }
                            }
                          }
                        }

.ongoing-map {
    margin-left: 0px !important;
    width: 100% !important;
    -webkit-box-shadow: 3px 4px 16px rgba(0, 0, 0, .48);
    -moz-box-shadow: 3px 4px 16px rgba(0, 0, 0, .48);
    box-shadow: 3px 4px 16px rgba(0, 0, 0, .48);
    background: #fff;
    position: relative;
    padding: 10px 10px 10px;
    margin: 0 0 25px;
}
.shipment-ratings {
    padding: 15px 0px 0;
    label {
        float: left;
        width: 120px;
        font-size: 18px;
        display: block;
        margin: 0 20px 0 0;
    }
}
.ratings-visual {

        position: relative;
        padding: 10px 10px 10px;
        margin: 25px auto 25px;
 }
 .new-destination {
    max-width: 375px;
    margin: 0 auto;
 }
 .modal-holder {
    .modal-btns {
        max-width: 375px;
        margin: 0 auto;
        padding: 0px;
        .submit-btn{
            margin-right: 0px;
        }
    }
 }
 .map-pin-holder {
       background: rgba(7, 65, 169, 0.94);
       padding: 15px;
       margin: 0 0 0px;
       position: relative;
       max-width: 320px;
       margin: 0 auto;

       h1 {
           color: #fff;
           font-weight: 500;
           font-size: 15px;
           padding: 0 0 15px 0px;
           margin: 0px;
       }
       .pin-row {
         .fleet-col-left {
             float: left;
             width: 40%;
             box-sizing: border-box;
             padding: 0 5px 0 5px;
             .truck-row {
               padding: 0 0 10px;
               span {
                 display: block;
                 padding: 0 0 5px;
                 text-align: center;
                 color: #fff;
                 font-size: 13px;
                 font-weight: 400;
                 img {
                   max-width: 50px;
                 }
               }
             }
             .truck-number {
               max-width: 90%;
               background: #fff;
               color: #0742aa;
               border: 1px solid #c7f4ff;
               padding: 2px;
               text-align: center;
               font-weight: 600;
               text-transform: uppercase;
             }
         }
         .fleet-col-right {
             float: right;
             width: 60%;
             box-sizing: border-box;
             padding: 0 5px 0 0px;
             .address-outer {
                 padding: 0 0px 10px;
                 position: relative;
             }
             .address-one {
                 padding: 0 0 20px 20px;
                 margin-bottom: 5px;
                 color: #fff;
                 font-size: 12px;
                 font-weight: 400;
                 position: relative;
                 background: url(image_path('map-address-dotted-border.png')) 0px 0px repeat-y;
                 &:before {
                     content: "";
                     width: 16px;
                     height: 16px;
                     position: absolute;
                     top: 0px;
                     left: -7px;
                     background: url(image_path('pickup-address.png')) 0px 0px no-repeat;
                     background-size: 16px 16px;
                 }
             }
             .address-two {
                 padding: 0 0 0px 20px;
                 color: #fff;
                 font-size: 12px;
                 font-weight: 400;
                 position: relative;
                 span {
                     display: block;
                     font-size: 14px;
                     font-weight: 400;
                 }
                 &:before {
                     content: "";
                     width: 16px;
                     height: 26px;
                     position: absolute;
                     top: -3px;
                     left: -7px;
                     background: url(image_path('dropoff-address.png')) 0px 0px no-repeat;
                     background-size: 16px 26px;
                 }
             }
             .pickup-date {
                 font-size: 13px;
                 color: #353535;
                 font-weight: 400;
                 span {
                     font-weight: 300;
                     display: block;
                 }
             }
         }
       }
     }
     .rate-your-shipment {
         text-align: center;
         h2 {
           color: #0094b9;
           font-size: 17px;
           font-weight: 500;
           padding: 35px 0 30px;
           margin: 0px;
         }
         span{
           display: block;
           font-size: 18px;
         }
       }

.rating-outer {
   min-height: 100px;
   display: block;
}
.search{
    margin-bottom: 10px;
    .padding{
        margin-top: 25px
    }    

}


.datepicker{
  padding: 6px;
}


.documents_list{
    li{
        float: left;
        margin: 6px;
        position: relative;
        img{
            width: 60px;
            height: 60px;        
        }
    }
    
@media only screen and (min-width: 768px){
  .track-header .track-form .form-row .submit-btn {
      float: right;
      margin-top: 0!important;
      width: inherit;
  }
}
    
    
}
.block-btn {
  display: block !important;
  margin-bottom: 5px;
}
.totals-btm-holder {
  max-width: 850px;
  margin: 20px auto;
  padding: 0 15px;
}
.totals-left {
  float: left;
  width: 50%;
}
.loading-times {
  padding-left: 40px !important;
  label {
    min-width: 120px;
  }
}
.balance-header {
    padding: 10px 10px 30px;
    position: relative;
    h1 {
      color: #313131;
      font-size: 20px;
      font-weight: 500;
      padding: 15px 0 10px;
      margin: 0px;
    }
    .balance-holder {
      position: absolute;
      top: 20px;
      right: 15px;
      width: 155px;
      text-align: right;
      span {
        display: block;
        font-size: 14px;
        color: #4e4e4e;
        padding: 4px 0px;
        &.balance {
          background: #0596ce;
          color: #fff;
          font-size: 15px;
          font-weight: 400;
          text-align: center;
          display: inline-block;
          min-width: 90px;
          padding: 4px 10px 4px;
        }
      }
    }
  }
 .small-logo {
    max-width: 50px;
    margin-left: 0px;
    margin-right: 0px;
    & img.brand-image {
    max-width: 50px;
    @include transitions(0.5s);
        margin-left: 0px;
        margin-right: 0px;
        }
 }
.receipt-modal {
    .payment-date {
            padding: 0px 30px 20px 0;
            font-size: 16px;
            text-align: right;
            span {
                display: block;
                font-size: 14px;
                color: #0a98bc;
                font-weight: 500;
            }
        }
        .shipment-number {
            padding: 0px 20px 30px 15px;
            font-size: 16px;
            font-weight: 400;
            span {
                display: block;
                padding: 4px 0 0;
                font-size: 15px;
                font-weight: 300;
            }
        }
        .cash-col {
              padding: 0 15px 0px;
              max-width: 580px;
              margin: 0 auto;
              position: relative;
              .cash-row {
                  padding: 0 0 10px;
                  position: absolute;
                  bottom: 40px;
                  span {
                      float: left;
                      width: 50%;
                      font-size: 16px;
                      font-weight: 400;
                      &.cash {
                          color: #04a200;
                          text-align: right;
                          font-weight: 500;
                      }
                      &.commission {
                         color: #0094b9;
                      }
                  }
              }
              .cash-row-fleet {
                  padding: 0 0 10px;
                  /*position: absolute;
                  top: 10px;*/
                  span {
                      float: left;
                      width: 50%;
                      font-size: 16px;
                      font-weight: 400;
                      &.cash {
                          color: #04a200;
                          text-align: right;
                          font-weight: 500;
                      }
                      &.commission {
                         color: #0094b9;
                      }
                  }
              }
          }
          .terms{
            font-size: 10px;
            .term-first{
                font-weight: bold;
                text-decoration: underline;
                text-align: center;
            }
            .center-terms{
                text-align: center;
            }
          }
          .paid-stamp {
              padding: 0 35px 10px 0;
              text-align: right;
              margin: 0 0 0;
              img {
                  max-width: 160px;
                  display: inline-block;
              }
          }
          .fleet-row {
            padding: 0px 0 35px;
            & .fleet-col-left {
                width: 48%;
                border-right: 0px solid #353535;
                & .truck-row {
                    background: none;
                    margin: 0px;
                    padding: 0px 20px;
                    font-size: 16px;
                    color: #353535;
                    font-weight: 300;
                    display: block;
                    img {
                      max-width: 80px;
                    }
                    span {
                        display: block;
                        text-align: center;
                    }
                }

            }
            .fleet-col-right {
                width: 48%;
                border-left: 1px solid #353535;
                .address-outer {
                    margin: 0px;
                    padding-left: 15px;
                    float: right;
                }
            }
          }
}
.modal-receipt-width {
    max-width: 640px !important;
}

.form-row {
    padding: 0 0px 20px 0;
    label {
        font-size: 17px;
        color: #000;
        padding: 0 0 4px;
        display: inline-block;
        font-weight: 400;
        &.label_required {
            color: red;
            display: inline-block;
            padding: 0px 4px 0 0;
        }
        span {
            color: #F0F;
        }
    }
}

.selectDriver{
    background:url(image_path('select-arrow.png')) 96% center no-repeat #fff;
    box-sizing:border-box;
    width:100%;
    border: solid 1px #959595;
    color:#1e1e1f;
    @include placeholder(#1e1e1f);
    font-size: 16px;
    font-weight: 600;
    margin-top:2px;
    select {
        background: transparent;
        width:100%;
        padding: 9px 20px;
        font-size: 13px;
        color:#1e1e1f;
        font-weight: 500;
        border: 0;
        border-radius: 0;
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
        &:focus{
            outline: none;
        }
        &.disabled{
            cursor:not-allowed;
        }
        option{
            color: #000;
            &:hover{
                background:#0094b9;
                color: #fff;
            }
        }
    }
}

.buttons-holder {
    &.without-margin {
        margin: 0px;
        padding: 0px;
        & .bidnow {
            margin-right: 0px;
        }
    }
}
.pdf-parent {
    .shipment-number {
        padding-bottom: 60px;
    }
}
div.red {
   display: block;
   width: 100%;
   float: none;
   padding: 20px 0 20px 40px;
}
.nav-sidebar > .nav-item .nav-icon:before {
    color: #6c757d;

}
.main-sidebar {
    overflow: hidden;
    overflow-X: hidden;
    overflow-Y: auto;
    min-height: 100vh;
}
.modal-holder {
    .truck-row {
        &.front-truck {
            background: none;
            padding: 0 0 20px;
            span {
                display: block;
                padding: 0 0 10px;
                img {
                    max-width: 100px;
                }
            }
        }
    }

}
.assing-vehicles-modal{
    margin: 85px auto;
      -webkit-box-shadow: 3px 4px 16px rgba(0,0,0,.18);
      -moz-box-shadow: 3px 4px 16px rgba(0,0,0,.18);
      box-shadow: 3px 4px 16px rgba(0,0,0,.18);
      position: relative;
      max-width: 640px !important;
}
.assing-vehicles-modal-inner {

  h1 {
    color: #0094b9;
    font-size: 22px;
    font-weight: 500;
    padding: 15px 0 10px;
    margin: 0px;
    border-top: 10px solid #0094b9;
    text-align: center;
  }
  .shipment-number {
    text-align: center;
    padding: 0 0 25px;
    font-size: 16px;
    font-weight: 400;
    color: #313131;
  }
  .address-outer {
    max-width: 190px;
    margin: 0 auto;
    padding: 0 10px 20px;
    position: relative;
  }
  .distance-holder {
    font-size: 16px;
    color: #353535;
    position: absolute;
    top: 32px;
    left: -26px;
    webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-weight: 700;
  }
  .address-one {
    padding: 0 0 25px 22px;
    margin-bottom: 5px;
    color: #353535;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    background: url(image_path('dotted-border.jpg')) 0px 0px repeat-y;
    span{
      display: block;
      font-size: 16px;
      font-weight: 400;
    }
    &:before {
      content: "";
      width: 18px;
      height: 18px;
      position: absolute;
      top: -2px;
      left: -8px;
      background: url(image_path('address-before.jpg')) 0px 0px no-repeat;
      background-size: 18px 18px;
    }
  }
  .address-two {
    padding: 0 0 10px 22px;
    color: #353535;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    span{
      display: block;
      font-size: 14px;
      font-weight: 400;
    }
    &:before {
      content: "";
      width: 26px;
      height: 36px;
      position: absolute;
      top: -3px;
      left: -9px;
      background: url(image_path('location-icon.png')) 0px 0px no-repeat;
    }
  }
  .pickup-date-row {
    padding: 0 15px 30px;
    .left-col {
      float: left;
      width: 65%;
      span {
        display: block;
        font-size: 16px;
        font-weight: 400;
        color: #646464;
        padding: 0 0 2px;
      }
      .time {
        span {
          color: #0094b9;
          font-weight: 400;
          font-size: 16px;
          display: inline-block;
          position: relative;
          padding: 0 5px 0 0;
          &:after {
            content: "";
            position: absolute;
            top: 0px;
            right: -3px;
            width: 1px;
            height: 100%;
            background: #353535;
          }
          &.date {
            color: #353535;
            font-weight: 400;
            padding: 0 0px 0 5px;
            &:after {
              display: none;
            }
          }
          &.without-time {
            padding: 0 0px;
          }
        }
      }
    }
    .right-col {
      float: right;
      width: 35%;
      span {
        display: block;
        font-size: 16px;
        font-weight: 400;
        color: #646464;
        padding: 0 0 2px;
        &.hours {
          color: #0094b9;
          font-weight: 400;
          font-size: 16px;
          &.black {
            color: #353535;
          }
        }
      }
    }
  }
  .payment-mode {
    padding: 0 15px 20px;
    color: #0094b9;
    font-weight: 400;
    font-size: 13px;
    span {
      display: block;
      font-size: 16px;
      font-weight: 400;
      color: #646464;
      padding: 0 0 2px;
    }
  }
  .truck-row {
    padding: 7px 25px 15px 70px;
    background: url(image_path('truck.png')) 0px 8px no-repeat;
    background-size: 60px 38px;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 500;
  }
  .choose-vehicle {
    padding: 30px 0 30px 30px;
     #shipment_vehicle_ids {
        width: 80%;
        min-height: 100px;
        box-sizing: border-box;
        padding: 10px;
        border: 1px solid #353535;
    }
  }
  .item {
    padding: 0px 45px;
    .item-inner {
      border-bottom: none;
      padding: 0px;
      .label {
        color: #0596ce;
        font-weight: 500;
        font-size: 16px;
    }
    .select {
      padding: 6px 7px 3px 0;
      .select-text {
        color: #0596ce;
        font-size: 16px;
        font-weight: 500;
      }
    }
      .select-icon-inner {
        color: #292929;
      }
    }
  }
  .buttons-holder {
    padding: 0px 10px 10px;
    margin: 0 25px 10px;
    .cancel-button {
      float: left;
      background: white;
      border: 1px solid #555555;
      cursor: pointer;
      padding: 8px 20px;
      display: inline-block;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      color: #555555;
    }
    .submit-btn {
      float: right;
      background: #0094b9;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      padding: 10px 20px 9px;
      cursor: pointer;
      text-transform: uppercase;
      border: 1px solid #0094b9;
      margin-top: 0px !important;
    }
  }
   .close-modal {
      position: absolute;
      top: 30px;
      right: 15px;
      z-index: 50;
      cursor: pointer;
      img {
        max-width: 25px;
      }
    }
}
.static-content-page {
    padding: 30px 0 0;
}
.static-content-page h1 {
    font-size: 27px;
    padding: 0 0 30px;
    color: #444343;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
}
.static-content-page h2 {
    font-size: 24px;
    padding: 0 0 30px;
    color: #444343;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
}
.static-content-page h3 {
    font-size: 20px;
    padding: 0 0 30px;
    color: #444343;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
}
.static-content-page p {
    font-size: 15px;
    padding: 0 0 25px;
    line-height: 21px;
}
ul.without-bullets {
    display: block;
    margin: 0px;
    padding: 0px;
}
ul.without-bullets li {
    display: block;
    padding: 0 0 20px;
    position: relative;
    font-size: 15px;
    padding: 0 0 20px;
    color: #444343;
    text-align: left;
}
ul.without-bullets li:before {
    content: "\f00c";
    font-size: 15px;
    color: #444343;
    padding: 0 0 0;
    font-family: 'Font Awesome\ 5 Free';
}
.static-content-page a {
        color: #0094b9;
}
 .navbar-fixed-top {
        position: fixed;
        top: 0px;
        left: 0px;
     }
nav.bg-info {
    position: fixed;
    top: 0px !important;
    left: 0px !important;
    width: 100% !important;
}
.navbar-fixed-top {
    position: fixed !important;
    left: 0px;
    top: 0px;
    width: 100%;
    margin-left: 0px;
}
@media (min-width: 991px){
    .navbar-fixed-top {
        position: fixed !important;
        left: 0px;
        top: 0px;
        width: 100%;
        width: calc(100% - 250px);
        margin-left: 250px;
    }
}
.lorryz-pdf-header {
  max-width: 520px;
  margin: 0 auto;
  .pdf-logo {
    float: left;
    width: 120px;
    margin: 40px 0 0;
    img {
      width: 100%;
    }
  }
  .pdf-address {  
    float: right;
    width: 360px;
    .address-row {
      padding: 0 0 10px;
      span {
        font-size: 17px;
        &.bold {
          font-weight: 600;
          padding-right: 7px;
        }
      }
    }
  }
}
.fleet-name{
  text-align: center;
  span{
    font-weight: bold;
  }
}