
<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :first_name %>
  <%= f.text_field :first_name , class: "form-control", placeholder: "* First Name" , required: :true%>
</div>
<div class="form-group has-feedback" >
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :last_name %>
  <%= f.text_area :last_name , class: "form-control",style: "height: 150px;" , placeholder: "* Last Name" , required: :true%>
</div>

<div class="form-row radio-btns">
  <span>Gender</span>
  <div class="radio">
    <%= f.radio_button :gender , "1",class: "form-check-input" , value: "1" , required: true%>
    <label for="gender_1">Male</label>
  </div>
  <div class="radio">
    <%= f.radio_button :role ,"2", class: "form-check-input" , value: "2", required: true%>
    <label for="gender_2">Female</label>
  </div>
</div>

<div>
  <%= f.submit action  , class: "btn btn-primary btn-block btn-flat"%>
</div>
