<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class = "card-body">
          <div class="card">
            <div class="card-header p-0">
              <div class = "row">
                <h3 class="card-title p-3 col-3">Payments</h3>
                <div class = "col-9"></div>
              </div>
              <%= render partial: "/shared/download_excel" %>
              <ul class="nav nav-pills ml-auto p-2">
                <li class="nav-item"><a class="nav-link active show" href="#tab_1" data-toggle="tab">Pending Payments</a></li>
                <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">Completed Payments</a></li>
              </ul>
            </div>
            <!-- /.card-header -->
            <% completed_shipments = @shipments.where(lorryz_comission_received: true, paid_by_cargo: true ,paid_to_fleet: true) %>
            <% pending_shipments = @shipments.reject{|s| completed_shipments.pluck(:id).include? s.id } %>
            <div class="tab-content">
              <div class="tab-pane active show" id="tab_1">
                <%= render partial: "payments", locals: {shipments: pending_shipments , id: "pending"}%>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_2">
                <%= render partial: "payments", locals: {shipments: completed_shipments ,id: "completed"}%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
