<div class = "avatar12">
  <% if @info and @info.avatar.present? %>
      <div class= "">
        <%= image_tag(@info.avatar,class: "avatar" )%>
      </div>
  <%end%>
  <div class="field form-group attachment">
    <%= f.label :avatar , "Your Profile Picture"%><br>
    <%= f.hidden_field :avatar, class: "js-signed-upload-value" %>
    <input type="file" class="js-signed-upload" data-presign-url="<%=  presign_upload_companies_path %>" />
    <p class="js-signed-upload-status">

    </p>
  </div>
</div>