<%= render 'layouts/error_messages', object: @admin_country %>
<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :name, 'Name' %>
  <%= f.select :name ,options_for_select(ISO3166::Country.all_translated ,@admin_country.name),  {:prompt => "* Name" } ,class: "form-control" , required: :true, disabled: action == "Update1"%>
</div>
<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :Process %>
  <%= f.select(:process,options_for_select( ["bidding", "prorate"], @admin_country.process), {:prompt => "*Process" } ,{class: "form-control"}  )%>
</div>
<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :commision, "Lorryz Commission (%)" %>
  <%= f.text_field :commision , class: "form-control", placeholder: "* Lorryz Commission (%)" , required: :true%>
</div>
<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :lorryz_share_tax, "Lorryz Share Tax  (%)" %>
  <%= f.text_field :lorryz_share_tax , class: "form-control", placeholder: "* Lorryz Share Tax  (%)" , required: :true%>
</div>
<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :fleet_owner_income_tax, "Fleet Owner Income Tax  (%)" %>
  <%= f.text_field :fleet_owner_income_tax , class: "form-control", placeholder: "* Fleet Owner Income Tax  (%)" , required: :true%>
</div>
<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :currency %>
  <%= f.select :currency ,options_for_select(["IQD", "AED" ,"USD","BHD","SAR","PKR","INR"], @admin_country.currency), {:prompt => "* Currency" } , class: "form-control", required: :true%>
</div>
<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :penalty_free_hours , "Cargo penalty free hours"%>
  <%= f.text_field :penalty_free_hours , class: "form-control", placeholder: "* Penalty Free Hours" , required: :true%>
</div>
<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :fleet_penalty_free_hours %>
  <%= f.text_field :fleet_penalty_free_hours , class: "form-control", placeholder: "* Fleet Penalty Free Hours" , required: :true%>
</div>


<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :cargo_max_amount, "Cargo max credit amount" %>
  <%= f.text_field :cargo_max_amount  , class: "form-control", placeholder: "*Cargo max credit amount" , required: :true%>
</div>
<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :cargo_max_days, "Cargo max credit days"%>
  <%= f.text_field :cargo_max_days , class: "form-control", placeholder: "*Cargo max credit days" , required: :true%>
</div>
<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :fleet_max_amount , "Fleet max credit amount"%>
  <%= f.text_field :fleet_max_amount  , class: "form-control", placeholder: "*Fleet max credit amount" , required: :true%>
</div>
<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :fleet_max_days, "Fleet max credit days"%>
  <%= f.text_field :fleet_max_days , class: "form-control", placeholder: "*Fleet max credit days" , required: :true%>
</div>
<div class="form-group has-feedback">
  <%= f.check_box :status , class: ""%>
  <%= f.label :status , "Active" %>
</div>
<div class="form-group has-feedback">
</div>
<div>
  <%= f.submit action, class: "btn btn-primary btn-block btn-flat"%>
</div>
