<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row">
        <div class = "card-body">
          <div class="fleet-card" id="<%=@shipment.id%>">
            <h1>Shipment No. <%= @shipment.id  %></h1>
            <!--best Bid-->
            <div class="fleet-row clearfix">
              <div class="fleet-col-left">
                <div class="bids">
                  <% if @shipment.bids.present? and @shipment.bids.best_bid.present?%>
                    <span>Best Bid</span>
                    <span class="bid-amount"><%= shipment_currency @shipment  %>: <%= format_amount_to_currency @shipment.bids.best_bid.try(:amount).to_f %></span>
                    <span class="bid-amount"><%= shipment_currency @shipment  %>: <%= format_amount_to_currency(@shipment.bids.best_bid.try(:amount).to_f / @shipment.no_of_vehicles) rescue 0 %>/Per Vehicle</span>
                <%end%>
                  <span class="bid-vehicle">Pick up Date <br> <%= local_time_format(@shipment.pickup_time) rescue "" %> <br> <%=@shipment.pickup_date.strftime(display_date_format) rescue ""%></span>
                </div>
              </div>
              <div class="fleet-col-right">
                <div class="address-one">
                  <%= @shipment.pickup_full_address%>
                </div>
                <div class="address-two">
                  <%= @shipment.drop_full_address%>
                </div>
                <div class="truck-row">
                  <%=@shipment.no_of_vehicles.to_s + "  X  "+ @shipment.vehicle_type.name %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <p>* All Bid amount/rates provided here are purely transportation cost only. Token and all other cost will be at actuals. For side loader if there is inspection there will be additional charges of AED 200 which will get added to transportation cost/Bid amount</p>
      
      <!---->
      <div class="details_wrap">
        <div class="details-row clearfix">
          <div class="details-left">
            <span>Cargo Details:</span>
          </div>
          <div class="details-right">
            <%= format_amount_to_currency @shipment.cargo_description   %>
          </div>
        </div>
        <div class="details-row clearfix">
          <div class="details-left">
            <span>Rating:</span>
          </div>
          <div class="details-right">
            <%= format_float(@shipment.try(:company).try(:average_rating)).to_s + " " +rated_by(@shipment.company) %>
          </div>
        </div>
        <div class="details-row clearfix">
          <div class="details-left">
            <span>Loading Time:</span>
          </div>
          <div class="details-right">
            <%= format_float  @shipment.loading_time%> hrs
          </div>
        </div>
        <div class="details-row clearfix">
          <div class="details-left">
            <span>Unloading Time:</span>
          </div>
          <div class="details-right">
            <%= format_float  @shipment.unloading_time %> hrs
          </div>
        </div>
<!--        <div class="details-row clearfix">-->
<!--          <div class="details-left">-->
<!--            <span>Dropoff Date:</span>-->
<!--          </div>-->
<!--          <div class="details-right">-->
            <%#=@shipment.expected_drop_off.strftime("%B %e, %Y") if @shipment.expected_drop_off.present? %>
<!--          </div>-->
<!--        </div>-->
        <% if @shipment.bids.present? and @shipment.bids.best_bid.present?%>
          <div class="details-row clearfix">
            <div class="details-left">
              <span>Best Bid:</span>
            </div>
            <div class="details-right">
              <%= shipment_currency @shipment %>
              <%=format_amount_to_currency @shipment.bids.best_bid.try(:amount) %>
            </div>
          </div>
        <%end%>
        <div class="details-row clearfix">
          <div class="details-left">
            <span>Payment Mode:</span>
          </div>
          <div class="details-right">
            <%=@shipment.try(:payment_method) %>
          </div>
        </div>
        <div class="details-row clearfix">
          <div class="details-left">
            <span>Packaging Type:</span>
          </div>
          <div class="details-right">
            <%=@shipment.try(:cargo_packing_type) %>
          </div>
        </div>
        <div class="details-row clearfix">
          <div class="details-left">
            <span>No. of Vehicles:</span>
          </div>
          <div class="details-right">
            <%=@shipment.try(:no_of_vehicles) %>
          </div>
        </div>
        <!--Commented for confirmation in case needed -->
        <!--<div class="details-row clearfix">-->
          <!--<div class="details-left">-->
            <!--<span>Credit Period:</span>-->
          <!--</div>-->
          <!--<div class="details-right">-->
            <!--<%#= s.try(:company).try(:credit_period).try(:to_i) %>-->
          <!--</div>-->
        <!--</div>-->
        <% if @shipment.location.present? or @shipment.process == "prorate" %>
            <div class="details-row clearfix">
              <div class="details-left">
                <span>Estimated Fare per vehicle:</span>
              </div>
              <div class="details-right">
                <%= format_amount_to_currency @shipment.amount.to_f %>
              </div>
            </div>
        <%end%>

      </div>
      <%= form_for @bid , url: bid_details_fleet_shipment_bids_path, remote: true do |f| %>
        <%=f.hidden_field :shipment_id , value: @shipment.id%>
        <div class="row custom-row">
          <% if !(@shipment.location.present? or @shipment.process == "prorate") %>
            <div class="col-6">
              <%= f.label "*" , class: "label_required"%>
              <%= f.label "Your Total Bid for all Vehicles" %>
              <%= f.number_field :amount ,class: "form-control greater_than_zero" ,
                    placeholder: "*Your Total Bid for all Vehicles", required: true , step: :any,
                     pattern: "[1-9]" ,value: @previous_bid.try(:amount)%>
            </div>
          <%end%>
          <% if @shipment.process == "bidding" %>
              <div class="col-6 pull-left">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label "Waiting Charges Per Vehicle Per Day" %>
                <%= f.number_field :detention  ,class: "form-control greater_than_zero" , pattern: "[1-9]",
                     placeholder:"*Waiting Charges per vehicle per day", required: true , step: :any,
                     value: @previous_bid.try(:detention)%>
              </div>
          <%end%>

        </div>
        <!--  EROR  -->
        <div class="buttons-holder clearfix">
          <%= f.submit "Submit Bid" , class: "btn btn-info btn-flat btn-submit"%>
          <%#= button_to "Not Interested" ,not_interested_fleet_shipment_path(s) , class: "btn  btn-warning btn-flat btn-sm block-btn"  %>
          <%= link_to "Not Interested",not_interested_fleet_shipment_path(@shipment)  , method: :post,class: "btn btn-danger btn-flat"  %>
        </div>
      <%end%>
      <br>
      <br>

      <!---->
    </div>
  </section>
</div>
