
<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class="card-body">
          <div class = "card">
            <div class = "card-header">
              <h3 class="card-title">Shipments</h3>
              <div class = "row">
                <div class  =" col-md-4"></div>
                <div class  =" col-md-3">
                  <%= text_field_tag :start_date, nil, class: "search-datepicker datepick form-control" ,placeholder:  "Start Date"  %>
                </div>
                <div class  =" col-md-3">
                  <%= text_field_tag :end_date ,nil, class: "search-datepicker datepick form-control" ,placeholder:  "End Date"  %>
                </div>
                <%= link_to "Download in Excel" , admin_shipments_path(format: :xlsx) , id: "shipment_xlsx" ,class: "btn btn-flat btn-success pull-right" , onclick: "append_date_range_params(this);"%>
              </div>
            </div>
            <div class = "card-body">
              <div class="search shipment_form">
                <a href="clear()" class="clear_filter hide"> Clear</a>
                <%= form_for "query", url:admin_shipments_path, method: :get do |f|%>
                <div class="row ship">
                  <div class="col-md-4 col-sm-4 ">
                   <%= f.label :cargo_owner %>
                   <div class="selectHolder">
                     <%= f.select :cargo_owner, User.cargo_owners.collect {|p| [ p.first_name, p.try(:company).try(:id) ] }, {include_blank: true, :selected => params[:query][:cargo_owner] }, {:class => "form-control "} %>
                   </div>

                  </div>
                  <div class="col-md-4 col-sm-4 ">
                   <%= f.label :fleet_owner %>
                    <div class="selectHolder">
                      <%= f.select :fleet_owner,  User.fleet_owners.collect {|p| [ p.first_name, p.try(:company).try(:id) ] }, {include_blank: true, :selected => params[:query][:fleet_owner] }, {:class => "form-control"} %>
                    </div>

                  </div>
                  <div class="col-md-4 col-sm-4  pad-2">
                    <%= f.label :country_id , "Country" %>
                    <div class="selectHolder">
                      <%= f.collection_select :country_id ,Country.all, :id,:name,{include_blank: true, :selected => params[:query][:country_id] },{class: "form-control" } %>
                    </div>

                  </div>

                  <div class="col-md-4 col-sm-4 pad-2">
                    <%= f.label :status %>
                    <div class="selectHolder">
                      <%= f.select :status,shipment_states, {include_blank: true, :selected => params[:query][:status] }, {:class => "form-control"}  %>
                    </div>

                  </div>
                  <div class="col-md-4 col-sm-4 pad-2">
                    <%= f.label :pickup_date %>
                    <div class="selectHolder">
                      <%= f.text_field :pickup_date,value: params[:query][:pickup_date] , class: "search-datepicker datepick form-control" ,placeholder:  "Pickup Date"  %>
                    </div>

                  </div>
                  <div class="col-md-4 col-sm-4">
                    <%= f.submit "Search" , class: "btn btn-primary submit-btn" %>
                  </div>
                </div>
                <% end %>
              </div>

              <table class="table table-bordered table-striped admin_listings" data-page-length='10' style="width: auto!important;">
                <thead>
                <tr>
                  <%
                    columns = ["id","Pickup Location","Drop Location","Pickup Date","Pickup Time","Bids Count","Actions"]
                     columns.each do |col|
                  %>
                    <th><%= col.humanize %></th>
                  <%end%>
                </tr>
                </thead>
                <tbody>
                <% @shipments.each do |shipment|%>
                  <tr>
                    <td> <%= shipment.try(:id) %> </td>
                    <td> <%= shipment.try(:pickup_full_address) %> </td>
                    <td> <%= shipment.try(:drop_full_address) %> </td>
                    <td> <%= shipment.try(:pickup_date).strftime(display_date_format) %> </td>
                    <td> <%= local_time_format shipment.try(:pickup_time) %> </td>
                    <td> <%= shipment.bids.count %></td>
                    <td>
                      <%= link_to "View", admin_shipment_path(shipment), class: "btn btn-info btn-flat grid-btn" %>
                      <%= link_to "Edit", edit_admin_shipment_path(shipment), class: "btn btn-warning btn-flat grid-btn" %>
                      <% if shipment.completed? or shipment.cancel? %>
                        <%= link_to "Add Discount", edit_admin_shipment_path(shipment) , class: "btn btn-success btn-flat grid-btn" , remote: true%>
                      <% end %>
                      <% if shipment.if_expire? && shipment.state != "cancel"%>
                        <%= link_to "Cancel", cancel_admin_shipment_path(shipment),method: :delete,data: { confirm: 'Are you sure?' }  ,class: "btn btn-danger btn-flat grid-btn" %>
                      <% end %>
                      <% if [ "vehicle_assigned", "ongoing"].include? shipment.state %>
                          <%= link_to "Complete ", admin_shipment_path(shipment , "shipment[state_event]" => :completed, "shipment[completed_by]" => "admin"),method: :patch, data: {confirm: "Are you sure you want to complete this shipment?"}, class: "btn btn-danger btn-flat grid-btn" %>
                      <%end%>
                    </td>

           
                  </tr>
                <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
