<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row">
        <div class = "col-md-2"></div>
        <div class = "card-body col-sm-7" >
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"> Shipment Details</h3>
              <%if ["completed", "cancel"].include? @shipment.state %>
                <%= link_to "Fleet Invoice", invoice_path(@shipment, format: :pdf),target: :_blank, class: "btn btn btn-warning btn-flat pull-right", style: "margin-left: 10px;" %>
                <%= link_to "Cargo Invoice", admin_invoice_path(@shipment, format: :pdf),target: :_blank, class: "btn btn-warning btn-flat pull-right"%>
              <%end %>
            </div>
            <div class="list-group" style="padding: 0px;">

              <li class="list-group-item">
                <label> Shipment ID</label> <span class="float-right"> <%= @shipment.try(:id) %> </span>
              </li>

              <li class="list-group-item">
                <label> Pickup Location Name </label> <span class="float-right"> <%= @shipment.try(:pickup_building_name) %> </span>
              </li>
              <li class="list-group-item">
                <label> Pickup Location Address </label> <span class="float-right"> <%= @shipment.try(:pickup_full_address) %> </span>
              </li>

              <li class="list-group-item">
                <label> Dropoff Location Name </label> <span class="float-right"> <%= @shipment.try(:drop_building_name) %> </span>
              </li>

              <li class="list-group-item">

              <label> Dropoff Location </label> <span class="float-right"> <%= @shipment.try(:drop_full_address) %> </span>

              </li>
              
              <li class="list-group-item">  

                <label> Pickup Date </label> <span class="float-right"> <%= @shipment.try(:pickup_date).strftime(display_date_format) rescue "" %> </span>

              </li>

              <li class="list-group-item">  
                <label> Pickup Time </label> <span class="float-right"> <%= local_time_format @shipment.try(:pickup_time) %> </span>
              </li>

              <li class="list-group-item">  

                <label> Loading Time </label> <span class="float-right"> <%= @shipment.try(:loading_time) %> </span> 
              </li>

              <li class="list-group-item">  
                <label> Unloading Time </label> <span class="float-right"> <%= @shipment.try(:unloading_time) %> </span> 
              </li>
             
              <li class="list-group-item">  
                <label> Vehicle Type  </label><span class="float-right" >  <%= @shipment.try(:vehicle_type).try(:name) %> </span>
              </li>

              <li class="list-group-item">  
                <label> No. Of Vehicles  </label><span class="float-right" >  <%= @shipment.try(:no_of_vehicles) %> </span>
              </li>

              <li class="list-group-item">  
                <label> Cargo Description </label> <span class="float-right"> <%= @shipment.try(:cargo_description) %> </span> 
              </li>
              
              <li class="list-group-item">  
                <label> Cargo Packing Type </label> <span class="float-right"> <%= @shipment.try(:cargo_packing_type) %> </span>
              </li>

              <li class="list-group-item">
                <label> Cargo Owner </label> <span class="float-right"> <%= @shipment.try(:company).try(:company_name) %> </span>
              </li>

              <li class="list-group-item">
                <label> Fleet Owner</label> <span class="float-right"> <%= @shipment.try(:fleet).try(:company_name) %> </span>
              </li>

             
              <li class="list-group-item">  
                <label> Approved </label>  <span class="float-right"><%= @shipment.try(:approved) %> </span> 
              </li>

              <li class="list-group-item">
                <label> Created At </label> <span class="float-right"> <%= @shipment.try(:created_at).strftime(excel_datetime_format) %> </span>
              </li>
             
              <li class="list-group-item">  
                <label> Updated At </label> <span class="float-right"> <%= @shipment.try(:updated_at).strftime(excel_datetime_format) %> </span>
              </li>
             
              <li class="list-group-item">  
                <label> State </label>  <span class="float-right"><%= @shipment.try(:state) %> </span> 
              </li>
              
              <li class="list-group-item">  
                <label> Amount </label> <span class="float-right"><%= format_amount_to_currency @shipment.try(:amount) %> </span>
              </li>

              <li class="list-group-item">  
                <label> Contract </label> <span class="float-right"> <%= @shipment.try(:location).try(:contractual_locations) %> </span>
              </li>

              <li class="list-group-item">  
                <label> Country </label> <span class="float-right"> <%= @shipment.try(:country).try(:name) %> </span>
              </li>
              
              <li class="list-group-item">  
                <label> Process </label>  <span class="float-right"><%= @shipment.try(:process) %> </span> 
              </li>

              
              <li class="list-group-item">  
                <label> Payment Option </label> <span class="float-right"> <%= @shipment.try(:payment_option).try(:camelcase) %> </span>
              </li>
              
              <li class="list-group-item">  
                <label>   Cancel By </label> <span class="float-right"> <%= @shipment.try(:cancel_by) %> </span>
              </li>
             
             <li class="list-group-item">  
              <label> Cancel Penalty </label> <span class="float-right"> <%= format_amount_to_currency @shipment.try(:cancel_penalty) %> </span>
             </li>
             
              <li class="list-group-item">  
                <label> Cancel Reason </label> <span class="float-right"> <%= @shipment.try(:cancel_reason) %> </span> 
              </li>

              <li class="list-group-item">  
                <label> Lorryz Share Amount  </label> <span class="float-right"> <%= format_amount_to_currency @shipment.try(:lorryz_share_amount) %> </span>
              </li>
             
              <li class="list-group-item">  
                <label> Fleet Income </label> <span class="float-right"> <%= format_amount_to_currency @shipment.try(:fleet_income) %> </span>
              </li>

              <li class="list-group-item">  
                <label> Amount Tax </label> <span class="float-right"> <%= format_amount_to_currency @shipment.try(:amount_tax) %> </span>
              </li>

              <li class="list-group-item">  
                <label> Detention </label> <span class="float-right"><%= format_amount_to_currency @shipment.try(:detention) %> </span>
              </li>
             
              <li class="list-group-item">  
                <label> Lorryz Detention Share </label> <span class="float-right"> <%= format_amount_to_currency @shipment.try(:lorryz_detention_share_amount) %> </span>
              </li>
              
              <li class="list-group-item">  
                <label> Fleet Detention Income </label> <span class="float-right"> <%= format_amount_to_currency @shipment.try(:fleet_detention_income) %> </span>
              </li>
              
              <li class="list-group-item">  
                <label> Detention Tax </label> <span class="float-right"> <%= format_amount_to_currency @shipment.try(:detention_tax) %> </span>
              </li>
              <li class="list-group-item">
                <label for="">Discount </label> <span class ="float-right"><%= format_amount_to_currency  @shipment.try(:discount) %></span>
              </li>
              
              <li class="list-group-item">  
              <label> Paid To Fleet </label> <span class="float-right"> <%= @shipment.try(:paid_to_fleet) %> </span>
             
              <li class="list-group-item">  
                <label> Paid By Cargo </label> <span class="float-right"> <%= @shipment.try(:paid_by_cargo) %> </span>
              </li>
              <li class="list-group-item">
              <h3>Shipment Actions</h3>
              </li>
              <li class="list-group-item">
              </li>
              <li class="list-group-item">
                <label> Posted </label> <span class="float-right">
                <% posted_date = convert_to_shipment_country_timezone( @shipment.country,  @shipment.shipment_action_dates.where(state: :posted).try(:last).try(:performed_at))%>
                <%= posted_date.strftime(excel_datetime_format)  rescue nil%>
              </span>
              </li>
              <li class="list-group-item">
                <label> Accepted </label> <span class="float-right">
                <% accepeted_date = convert_to_shipment_country_timezone( @shipment.country,
                  @shipment.shipment_action_dates.where(state: :accepted).try(:last).try(:performed_at)) %>
                <%= accepeted_date.strftime(excel_datetime_format) rescue nil %></span>
              </li>
              <li class="list-group-item">
                <label> Ongoing </label> <span class="float-right">
                <% ongoing_date = convert_to_shipment_country_timezone( @shipment.country,
                     @shipment.shipment_action_dates.where(state: :ongoing).try(:last).try(:performed_at)) %>
                <%=ongoing_date.strftime(excel_datetime_format) rescue nil %></span>
              </li>
              <li class="list-group-item">
                <label> Vehicle Assigned </label> <span class="float-right">
                <% vehicle_assigned_date  =  convert_to_shipment_country_timezone(@shipment.country ,
                  @shipment.shipment_action_dates.where(state: :vehicle_assigned).try(:last).try(:performed_at)) %>
                <%=vehicle_assigned_date.strftime(excel_datetime_format) rescue nil %></span>
              </li>
              <li class="list-group-item">
                <label> Cancel </label> <span class="float-right">
                <% cancel_date = convert_to_shipment_country_timezone(@shipment.country ,
                @shipment.shipment_action_dates.where(state: :cancel).try(:last).try(:performed_at)) %>
                <%= cancel_date.strftime(excel_datetime_format) rescue nil %></span>
              </li>
              <li class="list-group-item">
                <label> Completed </label> <span class="float-right">
                <% completed_date = convert_to_shipment_country_timezone( @shipment.country ,
                 @shipment.shipment_action_dates.where(state: :completed).try(:last).try(:performed_at)) %>
                <%= completed_date.strftime(excel_datetime_format) rescue nil %></span>
              </li>
              <% action_dates = @shipment.shipment_action_dates.where(state: [ :booked, :finish, :loading, :unloading, :enroute , :start]) %>
                <%if action_dates.present? %>
                  <table class="table table-bordered table-striped" data-page-length='10' style="width: auto!important;">
                    <thead>
                    <% ["Vehicle Registration Number", "Driver Name", "State", "Performed At"].each do |heading| %>
                      <th><%= heading %></th>
                    <% end %>
                    </thead>
                    <tbody>
                    <% action_dates.each do |action_date| %>
                      <tr>
                        <td><%= action_date.try(:vehicle).try(:registration_number) rescue ""%> </td>
                        <td><%= action_date.try(:vehicle).try(:driver).try(:full_name) rescue "" %></td>
                        <td><%= action_date.state %></td>
                        <td><%= convert_to_shipment_country_timezone(@shipment.country ,
                                      action_date.performed_at).strftime(excel_datetime_format) rescue nil  %></td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                <%end %>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Bids Listing</h3>
            </div>
            <div class="card-body">
              <table id="shipment_bids" class="table table-bordered table-striped" data-page-length='10'>
                <thead>
                <tr>
                  <th>Bid Amount</th>
                  <th>Detentation per Vehicle per day</th>
                  <th>Rating</th>
                  <th>Fleet Owner </th>
                </tr>
                </thead>
                <tbody>
                <%# @shipment.bids.reverse.sort_by(&:status).each do |b|%>
                <% @shipment.bids.sort_by {|bid| [bid.try(:company).try(:featured) ? 0 : 1 , bid.try(:company).try(:verified) ? 0 : 1 ]}.each do |b| %>
                    <% b.rejected? ?  klass = "rejected" : klass = ""%>
                    <tr class = "<%= klass %>">
                      <td><%= shipment_currency(b.shipment) rescue "" %> <%= format_amount_to_currency b.amount%></td>
                      <td><%= shipment_currency(b.shipment) rescue "" %> <%= format_amount_to_currency b.detention %>

                      </td>
                      <td>
                        <div class = "shipment-ratings">
                          <%rating = b.company.average_rating.to_i rescue 5 %>
                          <%= select_tag 'rating',
                                         options_for_select(["",1,2,3,4,5], rating) ,
                                         class: "rating" %>
                           <div class="rating-counter"><%= rated_by b.company %></div>
                        </div>
                        <% if b.company.featured?%>
                          <span class="pull-right badge badge-info  ">Featured
                            <i class="fa fa-check-circle"></i>
                          </span>
                        <%elsif b.company.verified?%>
                          <span class="pull-right badge badge-success">Verified
                              <i class="fa fa-check-circle"></i>
                            </span>
                        <%end%>
                      </td>
                      <td>
                        <%= b.try(:company).try(:company_name) %>
                      </td>
                    </tr>
                <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>