<div class="map-form-bg">
  <%=render partial: "users/shared/waiting_trucks"%>
  <div class="map-form">
        <h2 class="login-box-msg">Change your password</h2>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%#= devise_error_messages! %>
        <%= render 'layouts/error_messages', object: resource %>
        <%= f.hidden_field :reset_password_token %>

          <div class="form-row has-feedback">
            <strong>New password</strong>
            <%#= f.label :password, "New password" %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em><br />
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" ,placeholder: "New password"%>
          </div>

          <div class="form-row has-feedback">
            <strong>Confirm new password</strong>
            <!--UI isssue after posting different passwords in these fields-->
            <%#= f.label :password_confirmation, "Confirm new password" %>
            <%= f.password_field :password_confirmation, autocomplete: "off" , class: "form-control", placeholder: "Confirm new password"  %>
          </div>

          <div class="actions">
            <%= f.submit "Change my password" ,class: "btn btn-primary btn-block btn-flat"%>
          </div>
        <% end %><br>

        <%= render "users/shared/links" %>
  </div>
</div>
