<div class="map-form-bg">
  <%=render partial: "users/shared/waiting_trucks"%>
  <div class="map-form">
    <h2 class="login-box-msg">Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%#= devise_error_messages! %>
        <%= render 'layouts/error_messages', object: resource %>
      <div class="form-row has-feedback">
        <%= f.label "*" , class: "label_required"%>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "form-control" ,placeholder:  "Email"%>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions" , class: "btn btn-primary btn-block btn-flat"%>
      </div>
    <% end %><br>
    <%= render "users/shared/links" %>
  </div>
</div>