/*
 *= require theme/theme
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */

 @import "noty";
.note-editor.note-frame.fullscreen{
 position: initial;
}
.note-editor .modal-body {
    padding: 16px!important;
}
