<!-- <p><%= t("devise.mailer.invitation_instructions.hello", email: @resource.email) %></p>

<p><%= t("devise.mailer.invitation_instructions.someone_invited_you", url: root_url) %></p>

<p><%= link_to t("devise.mailer.invitation_instructions.accept"), accept_user_invitation_url(@resource, :invitation_token => @token) %></p>

<% if @resource.invitation_due_at %>
  <p><%= t("devise.mailer.invitation_instructions.accept_until", due_date: l(@resource.invitation_due_at, format: :'devise.mailer.invitation_instructions.accept_until_format')) %></p>
<% end %>

<p><%= t("devise.mailer.invitation_instructions.ignore").html_safe %></p> -->


<p>Hello <%= @resource.email %></p>
<p>
  You have been invited to join www.lorryz.com which is an innovative platform connecting cargo owners and truckers.
</p>
<p><%= accept_user_invitation_url(@resource, :invitation_token => @token) %></p>
<p>
	If you don't want to accept the invitation, please ignore this email. Your account won't be created until you access the link above and set your password. For any doubts pls send email to contact@lorryz.com
</p>
<p>Regards,</p>
<p>Lorryz Team</p>
