<div class="track-header" data-shipment-id="<%= @shipment.id %>" id="shipment_id">
  <div class="track-form">
    <h2>Track Your Shipment</h2>
    <%= form_tag("/track", method: :get ) do %>
      <div class="form-row clearfix">
        <%= text_field_tag :code, params[:id] , class: "input-field"%>
        <input type="submit" name="" value="Track" class="submit-btn">
      </div>
    <% end %>
  </div>
</div>
<div class="map-holder clearfix">
  <div class="container-fluid">
    <div class="row row-eq-height">
      <div class="col-md-6 order-md-2">
        <div class="shipment-details">
          <h1>Shipment No. <%= @shipment.id %></h1>
          <%vehicle = @shipment.vehicles.try(:first) %>
          <%=hidden_field_tag :lat , vehicle.try(:latitude)%>
          <%=hidden_field_tag :lng , vehicle.try(:longitude)%>
          <h2>Pickup Time: <span><%= local_time_format(@shipment.pickup_time) rescue "" %>  <%=@shipment.pickup_date.strftime(display_date_format) rescue ""%></span> </h2>
          <div class="truck-row clearfix">
            <span> <%= image_tag '/dyna-truck.png' , alt: ""%> </span> <%=@shipment.no_of_vehicles.to_s + "  X  "+ @shipment.vehicle_type.name %>
          </div>
          <div class="address-holder">
            <div class="address-outer">
              <div class="address-one">
                <%= @shipment.pickup_full_address%>
              </div>
              <div class="address-two">
                <%= @shipment.drop_full_address%>
              </div>
            </div>
          </div>
          <div id="driversSlider" class="carousel slide driver-slider-holder" data-ride="carousel">
            <ol class="carousel-indicators">
              <%@shipment.shipment_vehicles.each_with_index do |shipment_vehicle, index|%>
                <li data-target="#driversSlider" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
              <% end %>
            </ol>
            <div class="carousel-inner">
              <%@shipment.shipment_vehicles.each_with_index do |shipment_vehicle, index|%>
                <div class="carousel-item <%= 'active' if index == 0 %>">
                  <div class="driver-detail">
                    <h3><%= shipment_vehicle.try(:vehicle).try(:driver).try(:full_name) %> <span><%= shipment_vehicle.try(:vehicle).try(:registration_number) %></span> </h3>
                    <%#if @shipment.expected_drop_off.present? %>
<!--                      <h4>Expected dropoff time: <span><%#= @shipment.expected_drop_off.strftime("%B %e, %Y") %></span> </h4>-->
                    <%#end %>
                  </div>
                  <div class="range-slider-holder" id = "<%= shipment_vehicle.id %>">
                    <div class="range-border">
                      <div class="range-base">&nbsp;</div>
                      <div class="range-progress">&nbsp;</div>
                      <input type="hidden" name="" value="<%= slider_range_value(shipment_vehicle) %>" class="range-pro">
                      <div class="handle"><%= image_tag 'handle.png' , alt: ""%></div>
                      <div class="options-row">
                        <span class="booked <%= 'active' if shipment_vehicle.status == 'booked' %>">Booked</span>
                        <span class="start <%= 'active' if shipment_vehicle.status == 'start' %>">Start</span>
                        <span class="loading <%= 'active' if shipment_vehicle.status == 'loading' %>">Loading</span>
                        <span class="enroute <%= 'active' if shipment_vehicle.status == 'enroute' %>">EnRoute</span>
                        <span class="unloading <%= 'active' if shipment_vehicle.status == 'unloading' %>">Unloading</span>
                        <span class="finished <%= 'active' if shipment_vehicle.status == 'finish' %>">End</span>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <a class="arrow-btn prev" href="#driversSlider" role="button" data-slide="prev">
              <%= image_tag 'prev-arrow.png' , alt: ""%>
            </a>
            <a class="arrow-btn next" href="#driversSlider" role="button" data-slide="next">
              <%= image_tag 'next-arrow.png' , alt: ""%>
            </a>
          </div>

        </div>
      </div>
      <div class="col-md-6 order-md-1">
        <div class="map-visual">
          <div id="map" class="ongoing-map">
            </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
    $(document).on('turbolinks:load', function () {
        lat = $("#lat").val();
        lng = $("#lng").val();
        if(lat && lng) {
            initMapWithCenter({lat: parseFloat(lat) , lng: parseFloat(lng)});
        }
        else {
            initMap();
        }
        markers = [];
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }
        function clearMarkers() {
          setMapOnAll(null);
        }

        function deleteMarkers() {
          clearMarkers();
          markers = [];
        }
        (function poll() {
            id = $("#shipment_id").data("shipment-id");
            console.log(id)
            $.ajax({
                url: "/track/" + id + "/get_coordinates",
                type: "GET",
                success: function (data) {
                    console.log("-------------TRACK-----Page--------polling");
                    deleteMarkers();
                    setMapOnAll(map)
                    $.each(data["coordinates"], function (index, value) {
                        var marker = new google.maps.Marker({
                            position: {lat: value.lat, lng: value.lng},
                            icon: "/truck_pin.png",
                            map: map
                        });
                        set_slider_status(value)
                        markers.push(marker)
                        var infowindow = new google.maps.InfoWindow({
                            content: "<div class=\"map-pin-holder\">\n" +
                            "    <h1>Shipment No. <%=@shipment.id%></h1>\n" +
                            "    <div class=\"pin-row clearfix\">\n" +
                            "      <div class=\"fleet-col-left\">\n" +
                            "        <div class=\"truck-row\">\n" +
                            "          <span><img src=\"/dyna-truck.png\" alt=\"\" ></span>\n" +
                            "          <span><%=@shipment.no_of_vehicles.to_s + "  X  "+ @shipment.vehicle_type.name %></span>\n" +
                            "        </div>\n" +
                            "        <div class=\"truck-number\">" + value.vehicle_name +
                            "       </div>\n" +
                            "      </div>\n" +
                            "      <div class=\"fleet-col-right\">\n" +
                            "          <div class=\"address-outer\">\n" +
                            "              <div class=\"address-one\">\n" +
                            "                 <%= @shipment.pickup_location %>" +
                            "              </div>\n" +
                            "              <div class=\"address-two\">\n" +
                            "                  <%= @shipment.drop_location %>" +
                            "              </div>\n" +
                            "          </div>\n" +
                            "    </div>\n" +
                            "    </div>\n" +
                            "  </div>"
                        });
                        marker.addListener('click', function() {
                            infowindow.open(map, marker);
                        });
                    })
                },
                dataType: "json",
                complete: setTimeout(function () {
                    poll()
                }, 20000),
                timeout: 2000
            })
        })();

    })
    function set_slider_status(value) {
        handle = $("#" + value.id).find(".handle")
        progress_bar = $("#" + value.id).find(".range-progress")
        if (value.status == "Booked")
        {
            $(handle).attr("style" , "left: 0%")
            $(progress_bar).attr("style" , "width: 2%")
        }
        else  if (value.status == "Start")
        {
            $(handle).attr("style" , "left: 19%")
            $(".range-progress").attr("style" , "width: 19%")
        }
        else  if (value.status == "Loading")
        {
            $(handle).attr("style" , "left: 35%")
            $(".range-progress").attr("style" , "width: 35%")
        }
        else  if (value.status == "Enroute")
        {
            $(handle).attr("style" , "left: 55%")
            $(".range-progress").attr("style" , "width: 55%")
        }
        else  if (value.status == "Unloading")
        {
            $(handle).attr("style" , "left: 77%")
            $(".range-progress").attr("style" , "width: 77%")
        }
        else if (value.status == "Finish")
        {
            $(handle).attr("style" , "left: 95%")
            $(".range-progress").attr("style" , "width: 95%")
        }

    }

</script>