<%= render 'layouts/error_messages', object: @admin_country %>
<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :code %>
  <%= f.text_field :code, class: "form-control", placeholder: "* Code" , required: :true%>
</div>
<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :name %>
  <%= f.text_field :name , class: "form-control", placeholder: "* Name" , required: :true%>
</div>
<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :country, 'countries' %>
  <%= f.collection_select(:country_id, Country.all, :id, :display_name,{:prompt => "*Country"}, { class: "form-control"} )%>
  <%# f.select :country_id ,options_for_select(ISO3166::Country.all_translated),  {:prompt => "* Name" } ,class: "form-control" , required: :true, disabled: :true%>
</div>
<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :fleet_penalty_amount %>
  <%= f.text_field :fleet_penalty_amount , class: "form-control", placeholder: "* Fleet penalty amount" , required: :true%>
</div>

<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :cargo_penalty_amount %>
  <%= f.text_field :cargo_penalty_amount , class: "form-control", placeholder: "* Cargo penalty amount" , required: :true%>
</div>

<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :base_rate %>
  <%= f.number_field :base_rate , class: "form-control", placeholder: "* Base rate" , step: :any,
                   min: 1 ,title: "Value Must be greater than equal to one.",  required: :true%>
</div>

<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :free_kms %>
  <%= f.number_field :free_kms , class: "form-control", placeholder: "* Free kms" , required: :true%>
</div>

<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :rate_per_km %>
  <%= f.number_field :rate_per_km , class: "form-control", placeholder: "* Rate per km" , step: :any,
                   min: 1 , required: :true , title: "Value Must be greater than equal to one."%>
</div>


<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label "Waiting charges per hour" %>
  <%= f.number_field :waiting_charges , class: "form-control", placeholder: "* Waiting charges" , required: :true%>
</div>


<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :load_unload_free_hours %>
  <%= f.number_field :load_unload_free_hours , class: "form-control", placeholder: "* load unload free hours" , required: :true%>
</div>

<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :image_url %>
  <%= f.file_field :avatar , class: "form-control", placeholder: "* load car image" , required: :true%>
</div>
<div>
  <%= f.submit action  , class: "btn btn-primary btn-block btn-flat"%>
</div>
