<!-- footer begins -->
<div class="footer-contact">
  <span>We will take care of your cargo and deliver them safe</span> <span><button data-toggle="modal" data-target="#contact_us" class="submit-btn">Contact Us</button></span>
  <div class="careers">
    To Join Lorryz Team please send email to: <a href="mailto:career@lorryz.com">career@lorryz.com</a>
  </div>
</div>
<div class="footer-visual">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-6">
        <div class="footer-copy">
          <h2>Lorryz</h2>
          <p>An innovative online market place / digital platform through web and smart phone app that connects cargo owners and truckers to provide cost & time efficiency,  transparency and control through hassle free bookings, real-time tracking, more business generation and 2 way feedback within the entire delivery process.</p>
          <!--<ul class="address-list">-->
            <!--<li> <span class="image"> <%= image_tag 'lorryz-address.png' , alt: ""%></span> 601/602 6th Floor 4th St, Abu Dhabi, UAE </li>-->
            <!--<li> <span class="image"> <%= image_tag 'lorryz-number.png' , alt: ""%> </span> <span>0123456788</span> <span>0123456788</span> </li>-->
            <!--<li> <span class="image"> <%= image_tag 'lorryz-email.png' , alt: ""%> </span> info@gmail.com </li>-->
          <!--</ul>-->
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <ul class="footer-navi">
          <li> <a href="/#home">Home</a> </li>
          <li> <a href="/#how-it-works">How It Works</a> </li>
          <li> <a href="/#about-us">ABOUT Us</a> </li>
          <li> <a href="<%= track_index_path %>#shipment">Track</a> </li>
          <li> <a href="" data-toggle="modal" data-target="#contact_us">CONTACT US</a> </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="newsletter-holder">
          <ul class="footer-navi privacy-links">
            <li><%= link_to "Terms and Conditions", terms_and_conditions_dashboard_index_path %></li>
            <li> <%= link_to "Privacy Policy" , privacy_policy_dashboard_index_path %> </li>
          </ul>
          <h3>Newsletter</h3>
           

          <div class="news-letter-form">
            <div class="form-row">
              <%= form_tag(subscriptions_path,remote: true) do %>
              <%= email_field_tag "email" ,nil,class: "input-field",placeholder: "Your email here",:required => true%>
              <input type="submit" name="" value="Go" class="go-btn">
              <% end %>
            </div>
            <span class="mailer-success"></span>
          </div>
          <!--<ul class="footer-socials">-->
            <!--<li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
            <!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
            <!--<li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
            <!--<li><a href="#"><i class="fa fa-envelope"></i></a></li>-->
          <!--</ul>-->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="copyrights">Copyright &copy; 2019, LORRYZ FZ-LLC </div>
      </div>
    </div>
  </div>
</div>
<!-- footer ends -->

  <!-- mask for mobile menu begins -->
  <div id="c-mask-right" class="c-mask"></div>
  <!-- mask for mobile menu ends -->