<!DOCTYPE html>
<html>
  <head>
    <title><%= I18n.t 'title' %></title>
    <%= wicked_pdf_stylesheet_link_tag "application" -%>
    <%= wicked_pdf_javascript_include_tag "application" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
